@charset "UTF-8";
@font-face {
  font-family: "PFSquareSansPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Bold.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Bold.svg#PFSquareSansPro-Bold") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Light.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Light.svg#PFSquareSansPro-Light") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-MedItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-MedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-MedItalic.ttf") format("truetype"), url("../fonts/PFSquareSansPro-MedItalic.svg#PFSquareSansPro-MedItalic") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Medium.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Medium.svg#PFSquareSansPro-Medium") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Regular.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-XBlack";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-XBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-XBlack.ttf") format("truetype"), url("../fonts/PFSquareSansPro-XBlack.svg#PFSquareSansPro-XBlack") format("svg");
}
@font-face {
  font-family: "Rubl";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype");
}
html {
  height: 100%;
}

body {
  font-family: "PFSquareSansPro-Regular", sans-serif;
  font-weight: normal;
  background: #e9e9e9;
  height: 100%;
  color: #000;
}

.main-wrapper {
  padding-top: 22px;
  position: relative;
  overflow: hidden;
}
.main-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 33vw;
  background: #1c4093;
  height: 100%;
  z-index: -1;
}

.container-fluid {
  min-width: 1000px;
  max-width: 1200px;
  position: relative;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rubl {
  font-family: 'Rubl';
  display: inline-block;
}

label {
  font-weight: normal;
}

img {
  max-width: 100%;
}

a img {
  border: none;
}

button, input, textarea {
  outline: none;
}

.full-width {
  width: 100% !important;
}

.no-border {
  border: none !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-40-0 {
  margin: 40px 0;
}

.no-padding {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-color-blue {
  background: #3a63ac !important;
}

.bg-color-dark-blue {
  background: #1c4093 !important;
}

.bg-pattern-blue {
  background: url(../img/blue_bg.png) 0 0 no-repeat !important;
}

.color-white {
  color: #fff !important;
}

.color-light-blue {
  color: #5aade1 !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.font-normal {
  font-weight: normal;
  font-family: "PFSquareSansPro-Regular", sans-serif;
}

.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: 0 0;
  border-radius: 0;
  color: #444;
  text-shadow: none;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-inner,
.fancybox-outer {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "PFSquareSansPro-Regular", sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-iframe,
.fancybox-image {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(../img/fancybox_sprite.png);
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: .8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../img/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.fancybox-close:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: url(../img/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.75);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-title {
  visibility: hidden;
  font: 400 13px/20px "PFSquareSansPro-Regular", sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: 0 0;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #ffffff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../img/slider_arrow.png) no-repeat 0 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../img/slider_arrow.png) no-repeat 0 0;
}

.bx-wrapper .bx-prev:hover {
  opacity: 1;
}

.bx-wrapper .bx-next:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 31px;
  height: 31px;
  text-indent: -9999px;
  z-index: 9999;
  opacity: 0.8;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.header {
  float: left;
  width: 235px;
  z-index: 2;
  position: relative;
  padding-bottom: 100px;
}
.header:before {
  content: '';
  background: url(../img/tree.png) 0 0 no-repeat;
  position: absolute;
  bottom: -310px;
  left: -15px;
  width: 444px;
  height: 429px;
  z-index: -1;
}
.header__menu-wrap {
  /*меню хедера*/
  margin: 30px 0 37px 8px;
  padding: 0 17px;
  text-align: right;
}
.header__menu {
  padding: 0 0 24px 0;
  margin: 0;
  border-bottom: 1px solid #3a63ac;
}
.header__menu-item {
  list-style-type: none;
  margin-bottom: 9px;
}
.header__menu-link {
  font-size: 18px;
  font-family: "PFSquareSansPro-Light";
  text-decoration: none;
  color: #fff;
}
.header__menu-link:hover {
  color: #5aade1;
}
.header__contacts {
  /* контакты в хедере */
}
.header__contacts-block {
  padding: 0 17px 0 34px;
}
.header__contacts-title {
  text-transform: uppercase;
  color: #5aade1;
  font-size: 18px;
  margin: 0 0 8px 0;
  position: relative;
  font-weight: normal;
}
.header__contacts-title:before {
  content: '';
  background: url(../img/contact_img.png) 0 0 no-repeat;
  position: absolute;
  top: -6px;
  left: -35px;
  width: 29px;
  height: 27px;
}
.header__item-title {
  color: #5aade1;
  font-size: 12px;
  margin: 0 0 3px 3px;
  text-transform: uppercase;
  line-height: 14px;
}
.header__item-text {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}
.header__social {
  /* соц сети в хедере */
}
.header__social-block {
  margin: 15px 0 0 3px;
}
.header__social-link {
  margin-right: 5px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.header__social-link:hover {
  opacity: 0.8;
}

.btn-up {
  border: none;
  display: inline-block;
  width: 27px;
  height: 30px;
  background: rgba(255, 255, 255, 0.68) url(../img/arrow_up.png) center no-repeat;
  border-radius: 50%;
  padding: 40px;
  position: fixed;
  z-index: 2;
  top: 50%;
  margin-left: 65px;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.btn-up:hover {
  background: white url(../img/arrow_up.png) center no-repeat;
}

/* тайтлы */
.title {
  font-size: 56px;
  font-family: "PFSquareSansPro-Bold";
  color: #3a63ac;
  text-transform: uppercase;
  margin: -32px 0 64px 0;
  padding: 24px 0 0 0;
  position: relative;
}
.title._color-white {
  color: #fff;
}
.title._color-white:before {
  content: '';
  background: url(../img/title_triangle.png) 0 0 no-repeat;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background-size: 100%;
}
.title._bg-blue {
  background: #3a63ac;
}

.subtitle {
  font-size: 27px;
  position: relative;
  font-family: "PFSquareSansPro-XBlack";
  display: inline-block;
  top: -18px;
  margin: 0;
  text-transform: uppercase;
}
.subtitle._font-size-40 {
  font-size: 40px;
  line-height: 37px;
}
.subtitle-wrap {
  border-top: 1px solid;
  border-color: #bfbfbf;
  margin-top: 30px;
}
.subtitle-wrap._position-center {
  text-align: center;
}
.subtitle-wrap._position-center .subtitle {
  padding: 0 25px;
}
.subtitle-wrap._position-left .subtitle {
  padding: 0 25px 0 0;
}
.subtitle-wrap._color-blue {
  border-color: #3a63ac;
}
.subtitle-wrap._color-blue .subtitle {
  color: #3a63ac;
  background: #fff;
}
.subtitle-wrap._color-white {
  border-color: #fff;
}
.subtitle-wrap._color-white .subtitle {
  color: #fff;
  background: #3a63ac;
}
.subtitle-wrap._color-black {
  border-color: #000;
}
.subtitle-wrap._color-black .subtitle {
  color: #000;
  background: #fff;
}
.subtitle-wrap._color-red {
  border-color: #000;
}
.subtitle-wrap._color-red .subtitle {
  color: #e9301b;
  background: #fff;
}

.content {
  margin-left: 240px;
  position: relative;
  z-index: 2;
}
.content-inner {
  padding: 32px 25px 25px 25px;
  background: #fff;
  margin-bottom: 10px;
}

/* блок справа от слайдера */
.main-photo__block {
  display: inline-block;
  width: 26.4%;
}
.main-photo__inner {
  max-width: 239px;
  position: relative;
  margin-bottom: -1px;
}
.main-photo__preview-text {
  color: #fff;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 3px;
  left: 0;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.55);
}

/* слайдер */
.slider {
  max-width: 667px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 73%;
}
.slider__block {
  margin: 0;
}
.slider__preview-text-block {
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider__preview-title {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.slider__preview-text {
  font-size: 12px;
  margin: 0;
}

.statistics__block {
  margin-bottom: 37px;
}
.statistics__text-block, .statistics__info-block {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
.statistics__info-block {
  width: 59%;
}
.statistics__info-list {
  padding: 0;
  margin: 0;
  text-align: center;
}
.statistics__title {
  margin: 0px -14px 9px 41px;
  letter-spacing: 3px;
  line-height: 56px;
}
.statistics__text {
  text-transform: uppercase;
  color: #1d1d1b;
  font-size: 25px;
  margin: 0 0 0 40px;
}
.statistics__info-item {
  display: inline-block;
  vertical-align: top;
  width: 26%;
  margin: 0 1%;
}
.statistics__info-number {
  color: #e9301b;
  font-size: 40px;
  margin: 0;
  font-family: "PFSquareSansPro-Bold";
}
.statistics__info-number._color-blue {
  color: #5aade1;
}
.statistics__info-text {
  text-transform: uppercase;
  font-family: "PFSquareSansPro-Bold";
  font-size: 13px;
  margin: 0;
}

.about-main__section {
  position: relative;
}
.about-main__text-block {
  color: #fff;
  display: inline-block;
  background: #5aade1;
  margin: 23px 0 0 -25px;
  padding: 25px 0 23px 40px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 68%;
  z-index: 2;
}
.about-main__text-block:before {
  content: '';
  height: 100%;
  width: 30px;
  background: url(../img/triangle.png) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -30px;
  z-index: 1;
}
.about-main__text-block._about-page {
  margin: 0 0 0 -25px;
  padding: 29px 0 29px 20px;
  text-align: center;
  background: #3964AD;
}
.about-main__text-block._about-page:before {
  content: '';
  height: 100%;
  width: 30px;
  background: url(../img/triangle_dark.png) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -30px;
  z-index: 1;
}
.about-main__title {
  font-size: 20px;
  margin: 0 0 5px 0;
}
.about-main__text {
  font-size: 13px;
  margin: 0 0 7px 0;
  line-height: 16px;
}
.about-main__form-block {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 36%;
  margin: 0 -25px -25px 0;
  padding: 36px 45px 44px 57px;
  background: #1c4093 url(../img/form_logo.png) right 33px no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
}
.about-main__form-block:before {
  content: '';
  background: #1c4093;
  position: absolute;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  z-index: 0;
}
.about-main__form-block form {
  position: relative;
  max-width: 225px;
}
.about-main__form-block.absolute-top {
  padding-top: 50px;
  position: absolute;
  top: -32px;
}
.about-main__label {
  color: #fff;
  display: block;
  font-size: 16px;
  font-family: "PFSquareSansPro-Light";
  margin: 0 0 2px 0;
}
.about-main__input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  font-size: 16px;
  background: #fff;
  border: none;
  margin: 0 0 10px 0;
}
.about-main__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 3px 0 21px 0;
  border-bottom: 1px dashed #fff;
}
.about-main__link:hover {
  border-bottom: 1px solid transparent;
}
.about-main__detail-text-block {
  margin-top: 60px;
}
.about-main__detail-text-block img {
  margin: 0 45px 40px 0;
}
.about-main__detail-text-block p {
  font-size: 13px;
  margin: 0 0 14px 0;
  line-height: 21px;
}
.about-main__rule {
  text-align: center;
  margin: 30px 0 20px !important;
  font-size: 20px !important;
  letter-spacing: 0.6px;
  line-height: 31px !important;
}
.about-main__rule span {
  text-transform: uppercase;
  display: block;
  color: #1c4093;
}
.about-main__large-form {
  background: #284f9e url(../img/form_logo.png) right 0px no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 20px;
}
.about-main__input-block {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
.about-main__input-half {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.about-main__link-block {
  vertical-align: top;
  display: inline-block;
  width: 20%;
  margin: 60px 0 0 0;
  text-align: center;
}
.about-main__sumbit-block {
  vertical-align: top;
  display: inline-block;
  width: 18%;
  margin-top: 24px;
}
.about-main__sumbit-block > * {
  line-height: 30px;
  padding: 20px 0 !important;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 25px;
  background: #e9301b;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background: #ee6353;
}
.btn._font-size-21 {
  font-size: 21px;
}
.btn._font-size-28 {
  font-size: 28px;
}
.btn._font-size-31 {
  font-size: 31px;
}
.btn._size-large {
  line-height: 55px;
  width: 330px;
}

#datepicker {
  float: left;
  margin: 0 5px 9px 3.5%;
  width: 29.4%;
  max-width: 280px;
}

/* блок мероприятий */
.date-event__section {
  margin-left: -3.6%;
}
.date-event__section::after {
  clear: both;
  content: "";
  display: table;
}
.date-event__item {
  width: 29.7%;
  margin-left: 3.3%;
  margin-bottom: 26px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.date-event__item:hover .date-event__info-block {
  opacity: 0;
  z-index: -1;
}
.date-event__info-block {
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 13px 20px 13px 28px;
  z-index: 1;
  background: #dfe3eb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.date-event__number {
  font-family: "PFSquareSansPro-Medium";
  color: #6d6d6d;
  margin: 0;
  font-size: 29px;
}
.date-event__month {
  display: block;
  font-size: 13px;
  margin: -9px 0 0 0;
}
.date-event__title {
  color: #3a63ac;
  font-family: "PFSquareSansPro-Medium";
  font-size: 15px;
  margin: 14px 0 0 0;
  max-height: 60px;
  overflow: hidden;
}
.date-event__bg-img {
  width: 100%;
  min-height: 135px;
  background-size: cover !important;
}

.banner__block {
  margin-bottom: 10px;
}

/* раздел новости */
.news__banner {
  float: right;
  margin-top: 29px;
  padding: 0 0 20px 2.6%;
  background: #fff;
  width: 26%;
}
.news__item {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 1px 0 40px 3.1%;
}
.news__img {
  margin-bottom: 13px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.news__img:hover {
  -webkit-filter: contrast(1.07);
  filter: contrast(1.07);
}
.news__date {
  font-family: "PFSquareSansPro-MedItalic";
  color: #1c4093;
  font-size: 10px;
  margin: 0 0 4px 0;
}
.news__title-link {
  text-decoration: none;
}
.news__title-link:hover {
  color: #3a63ac;
  text-decoration: underline;
}
.news__title-link:hover .news__title {
  color: #3a63ac;
}
.news__title {
  font-size: 15px;
  font-family: "PFSquareSansPro-Medium";
  font-weight: normal;
  color: #000;
  margin: 0 0 6px 0;
  line-height: 18px;
}
.news__preview-text {
  color: #717171;
  font-size: 12px;
  margin: 0;
}

/* наши проекты и мероприятия */
.event__section {
  margin: 0 0 40px 6%;
}
.event__block {
  display: inline-block;
  width: 30%;
  margin: 46px 1% 0 0;
  vertical-align: top;
}
.event__block:nth-child(3n) {
  margin-left: 5%;
}
.event__block:nth-child(1) .event__img {
  background-position: 0px 0px;
}
.event__block:nth-child(2) .event__img {
  background-position: -267px 0;
}
.event__block:nth-child(3) .event__img {
  background-position: -612px 0;
}
.event__block:nth-child(4) .event__img {
  background-position: 0 -122px;
}
.event__block:nth-child(5) .event__img {
  background-position: -267px -120px;
}
.event__block:nth-child(6) .event__img {
  background-position: -612px -122px;
}
.event__block:nth-child(7) .event__img {
  background-position: 0 -240px;
}
.event__block:nth-child(8) .event__img {
  background-position: -267px -238px;
}
.event__block:nth-child(9) .event__img {
  background-position: -612px -238px;
}
.event__block:nth-child(10) .event__img {
  background-position: 0 -362px;
}
.event__block:nth-child(11) .event__img {
  background-position: -268px -361px;
}
.event__block:nth-child(1) .event__link:hover .event__img {
  background-position: -104px 0;
}
.event__block:nth-child(2) .event__link:hover .event__img {
  background-position: -371px 0;
}
.event__block:nth-child(3) .event__link:hover .event__img {
  background-position: -716px 0;
}
.event__block:nth-child(4) .event__link:hover .event__img {
  background-position: -104px -122px;
}
.event__block:nth-child(5) .event__link:hover .event__img {
  background-position: -371px -120px;
}
.event__block:nth-child(6) .event__link:hover .event__img {
  background-position: -716px -122px;
}
.event__block:nth-child(7) .event__link:hover .event__img {
  background-position: -104px -240px;
}
.event__block:nth-child(8) .event__link:hover .event__img {
  background-position: -371px -238px;
}
.event__block:nth-child(9) .event__link:hover .event__img {
  background-position: -716px -238px;
}
.event__block:nth-child(10) .event__link:hover .event__img {
  background-position: -104px -362px;
}
.event__block:nth-child(11) .event__link:hover .event__img {
  background-position: -372px -361px;
}
.event__img {
  width: 75px;
  height: 75px;
  float: left;
  background: url(../img/event_sprite.png) 0 0 no-repeat;
}
.event__text {
  padding: 1em 0;
  vertical-align: top;
  color: #fff;
  font-size: 16px;
  margin: 0 0 0 90px;
  display: block;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.event__link {
  text-decoration: none;
}
.event__link:hover .event__text {
  color: #f3953f;
}

/* блок кейсов на главной */
.case__section {
  padding: 11px 0 21px 0;
}
.case__block {
  vertical-align: top;
  display: inline-block;
  width: 45%;
  margin: 0 0 30px 4%;
}
.case__wrap-img {
  max-width: 125px;
  max-height: 125px;
  float: left;
}
.case__img {
  display: block;
  margin: auto;
}
.case__preview-text-block {
  margin: 3px 0 0 135px;
  box-sizing: border-box;
  padding-right: 30px;
  position: relative;
  z-index: 2;
}
.case__rating {
  background: url(../img/active_star.png) 0 0 repeat-x;
  width: 45px;
  height: 15px;
  position: relative;
  margin-bottom: 9px;
}
.case__rating:before {
  content: '';
  background: url(../img/star.png) 0 0 repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 15px;
  z-index: -1;
}
.case__link {
  text-decoration: none;
  color: #3a63ac;
}
.case__link:hover {
  text-decoration: underline;
}
.case__preview-text {
  color: #646464;
  margin: 4px 0 0 0;
  font-size: 12px;
}
.case__inner-img {
  max-width: 245px;
  float: left;
}
.case__title {
  margin: 0;
  font-weight: normal;
  color: #3964ad;
  font-size: 24px;
}
.case__text-block {
  position: relative;
  z-index: 1;
  margin-left: 275px;
}
.case__text-block > p, .case__text-block li {
  color: #646464;
  margin: 4px 0 20px 0;
  font-size: 14px;
}

.modal {
  display: none;
}
.modal__title {
  font-size: 48px;
  font-family: "PFSquareSansPro-Bold";
  color: #1c4093;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 50px;
}
.modal__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  counter-reset: point;
}
.modal__list-item {
  color: #575756;
  font-size: 13px;
  margin-bottom: 20px;
  position: relative;
}
.modal__list-item:before {
  content: counter(point);
  counter-increment: point 1;
  font-size: 36px;
  position: absolute;
  top: -21px;
  left: -29px;
  color: #1c4093;
}
.modal__input {
  width: 100%;
  display: block;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  padding: 0 15px;
  margin-bottom: 15px;
  border: 1px solid #dedede;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.modal__input:focus {
  border: 1px solid #3a63ac;
}

/* модальное вступления в клуб */
#rules,
#enter_club {
  width: 850px;
  background: #fff url(../img/modal_enter_bg.png) left bottom no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 70px;
}

/* страница руководства */
.leadership__section {
  padding: 60px 0% 20px 9%;
}
.leadership__block {
  margin-bottom: 45px;
}
.leadership__description-block {
  margin-left: 179px;
}
.leadership__img {
  max-width: 153px;
  max-height: 153px;
  border-radius: 50%;
  float: left;
}
.leadership__title {
  font-size: 24px;
  color: #1c4093;
  margin: 0 0 22px 0;
  position: relative;
  top: 5px;
  font-weight: normal;
}
.leadership__list {
  padding: 0 0 0 26px;
  margin: 0;
  list-style-type: none;
}
.leadership__list-item {
  position: relative;
  letter-spacing: -0.6px;
  color: #000;
  font-size: 13px;
  margin: 0 0 10px;
}
.leadership__list-item:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -15px;
  width: 8px;
  height: 8px;
  background: #1c4093;
  border-radius: 50%;
}
.leadership__info-block {
  display: inline-block;
  width: 67%;
  vertical-align: top;
  border-right: 1px solid #cecece;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
.leadership__contact-block {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  padding-left: 62px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.leadership__contact-link {
  color: #5b5b5b;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.leadership__contact-link:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
}
.leadership__contact-link._phone-img:before {
  background: url(../img/phone.png) 0 0 no-repeat;
}
.leadership__contact-link._email-img:before {
  background: url(../img/mail.png) 0 0 no-repeat;
}
.leadership__contact-link._menu-img:before {
  background: url(../img/menu.png) 0 0 no-repeat;
}
.leadership__contact-link._blue-solid-link {
  color: #3a63ac;
  border-bottom: 1px solid;
}
.leadership__contact-link._blue-solid-link:hover {
  border-bottom: 1px solid transparent;
}
.leadership__link-wrap {
  margin-bottom: 17px;
}

/* фильтр по дате */
.date-filter__block {
  margin-bottom: 43px;
}
.date-filter__table thead .date-filter__link {
  background: #aeaeae;
}
.date-filter__table thead .date-filter__link.active, .date-filter__table thead .date-filter__link:hover {
  background: #5aade1;
}
.date-filter__table tbody .date-filter__link {
  background: #dfdfdf;
  color: #000;
  width: 100%;
}
.date-filter__table tbody .date-filter__link.active, .date-filter__table tbody .date-filter__link:hover {
  color: #fff;
  background: #5aade1;
}
.date-filter__item {
  border: 2px solid #fff;
  text-align: center;
  width: 74px;
}
.date-filter__link {
  display: block;
  text-transform: uppercase;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* пагинация */
.pagination__block {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 9px;
  border-top: 1px solid #dfdfdf;
  margin-top: 6px;
}
.pagination__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.pagination__link {
  color: #606060;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 3px 9px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pagination__link:hover, .pagination__link.active {
  color: #fff;
  background: #5aade1;
}
.pagination__item {
  display: inline-block;
}
.pagination__changer {
  display: inline-block;
  position: relative;
  color: #5aade1;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10%;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.pagination__changer:hover {
  color: #85c2e9;
}
.pagination__changer.prev:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -20px;
  background: url(../img/pag_arrow.png) 0 0 no-repeat;
  width: 10px;
  height: 17px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pagination__changer.prev:hover:before {
  left: -25px;
}
.pagination__changer.next:before {
  content: '';
  position: absolute;
  top: 3px;
  right: -20px;
  background: url(../img/pag_arrow.png) 0 0 no-repeat;
  width: 10px;
  height: 17px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pagination__changer.next:hover:before {
  right: -25px;
}

/* блок смены категории в галереи*/
.category-changer__block {
  margin-bottom: 10px;
}
.category-changer__link {
  font-size: 21px;
  color: #888;
  display: inline-block;
  text-align: center;
  width: 108px;
  line-height: 35px;
  background: #dfdfdf;
  border-left: 2px solid #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.category-changer__link:hover, .category-changer__link.active {
  color: #fff;
  background: #5aade1;
}

/* блок в галерее с фото и видео */
.gallery__section {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  margin-left: -1.3%;
  margin-bottom: 50px;
}
.gallery__block {
  margin-left: 1.3%;
  flex-basis: 32%;
  vertical-align: top;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  max-height: 219px;
}
.gallery__block:hover .gallery__title-wrapper {
  background: #1c4093;
}
.gallery__block iframe {
  width: 100% !important;
  height: 100% !important;
}
.gallery__bg-img {
  width: 100%;
  height: 100%;
}
.gallery__date {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 15px;
  background: #5aade1;
  line-height: 26px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.gallery__title-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  width: 100%;
  background: rgba(28, 64, 147, 0.7);
}
.gallery__title {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  max-height: 40px;
  overflow: hidden;
  margin: 0;
}

/* страница одного мероприятия */
.main-event__block {
  margin-bottom: 10px;
  position: relative;
  background-size: cover !important;
}
.main-event__about-speaker-block {
  color: #fff;
  padding: 13px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-event__about-speaker-img {
  float: left;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  margin: 10px 48px 29px 0;
  border: 10px solid #e9e9e9;
}
.main-event__about-speaker-title {
  margin: 0 0 25px 0;
  font-size: 48px;
  font-weight: normal;
}
.main-event__about-speaker-text {
  margin: 0 0 26px 0;
  line-height: 22px;
}
.main-event__attainment {
  /* блок достижений кампании */
}
.main-event__attainment-block {
  text-align: center;
  margin: 38px 0 0 0;
}
.main-event__partner {
  /*список партнеров*/
}
.main-event__partner-block {
  text-align: center;
  margin: 40px 0px 20px;
}
.main-event__partner-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-event__partner-item {
  display: inline-block;
  width: 25%;
  margin: 0 1.5% 40px 1.5%;
  vertical-align: middle;
}
.main-event__programm {
  /* блок программы */
}
.main-event__programm-block {
  min-height: 230px;
  background: url(../img/list.png) left center no-repeat;
  margin: 0 3%;
}
.main-event__programm-block img {
  margin: 20px 0 20px 32%;
}
.main-event__map-wrapper {
  width: 100%;
  height: 400px;
}
.main-event__contact {
  /* блок окнтактов */
}
.main-event__contact-block {
  margin: 58px 0 23px 0;
}
.main-event__contact-item {
  display: inline-block;
  vertical-align: top;
  width: 52%;
  margin-left: 4%;
}
.main-event__contact-item:first-child {
  width: 34%;
  margin-left: 9%;
}
.main-event__contact-img {
  float: left;
  margin: -6px 10px 20px 0;
}
.main-event__contact-title {
  text-transform: uppercase;
  margin: 0;
  font-family: "PFSquareSansPro-Bold";
  font-weight: normal;
  font-size: 18px;
}
.main-event__contact-text {
  font-size: 18px;
  margin: 0;
  display: block;
  color: #000;
  text-decoration: none;
}
.main-event__contact-email {
  color: #e9301b;
  text-decoration: none;
  font-size: 18px;
}
.main-event__registration {
  /* блок регистрации */
}
.main-event__registration-block {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 40px 40px 40px;
}
.main-event__registration-preview {
  font-size: 24px;
  margin: 0px 0 47px 0;
  font-weight: normal;
  padding: 0 5%;
}
.main-event__registration-table {
  margin-bottom: 41px;
  width: 100%;
}
.main-event__registration-table td {
  border: 2px solid #fff;
  width: 50%;
  line-height: 58px;
}
.main-event__registration-table thead td {
  background: #e4e4e4;
  font-size: 22px;
  text-transform: uppercase;
}
.main-event__registration-table tbody td {
  font-size: 20px;
  background: #f3f3f3;
}
.main-event__registration-table tfoot td {
  font-size: 31px;
  color: #fff;
  background: #3663ad;
}
.main-event__registration-text {
  font-size: 26px;
  text-transform: uppercase;
  margin: 11px 0 33px 0;
}

#map {
  width: 100%;
  height: 100%;
}

/* форма регистрации */
#registration {
  background: #f3f3f3;
  padding: 30px;
  width: 495px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* список наград */
.rewards__list {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
  text-align: center;
}
.rewards__item {
  vertical-align: top;
  margin: 0 3px 10px 3px;
  display: inline-block;
}

/* блок членства в клубе */
.membership__block {
  margin: 25px 0;
  text-align: center;
}
.membership__block p {
  line-height: 23px;
}
.membership__list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 30px 0;
}
.membership__list-item {
  width: 29%;
  margin: 0 1.5%;
  vertical-align: top;
  display: inline-block;
}
.membership__link {
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  border-bottom: 1px dashed #e9301b;
  color: #e9301b;
  line-height: 22px;
  text-decoration: none;
}
.membership__link:hover {
  border-bottom: 1px solid transparent;
}
.membership__img {
  margin-bottom: 10px;
}
.membership__strong-text {
  font-size: 20px;
  line-height: 27px !important;
  margin: 40px 0 0 0;
}

/* блок в контактами */
.contact__map {
  width: 52%;
  height: 420px;
  display: inline-block;
  vertical-align: top;
}
.contact__block {
  display: inline-block;
  width: 45%;
  margin-left: 15px;
  vertical-align: top;
}
.contact__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.contact__list-item {
  margin-bottom: 35px;
}
.contact__title {
  font-size: 21px;
  margin: 0 0 11px;
  color: #0081c8;
}
.contact__text {
  margin: 0 0 5px 0;
  font-size: 13px;
}
.contact__text span {
  font-size: 16px;
}
.contact__blockquote {
  color: #fff;
  margin-top: 40px;
  background: #3964ad;
  padding: 26px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contact__blockquote span {
  font-size: 13px;
}
.contact__blockquote p {
  font-size: 16px;
  margin: 10px 0 0 0;
}

/* цели и задачи */
.task__block {
  margin: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.task__block p {
  font-size: 16px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.task__list {
  list-style-type: none;
}
.task__list-item {
  margin-bottom: 11px;
  font-size: 13px;
  position: relative;
}
.task__list-item:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -19px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5aade1;
}
.task__title {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  font-weight: normal;
  font-size: 24px;
  margin: 34px 0 -5px 0;
}
.task__title img {
  margin-right: 15px;
}

/* сайтбар списка новостей */
.news-sidebar__section {
  width: 285px;
  float: right;
}
.news-sidebar__title {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin: 0;
  font-family: "PFSquareSansPro-Bold";
  background: #3964ad;
  position: relative;
  line-height: 65px;
}
.news-sidebar__title:after {
  content: '';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: -8px;
  left: -3px;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-top: 8px solid #3964ad;
  width: 0;
  height: 0;
}
.news-sidebar__list {
  background: #f0f0f0;
  padding: 35px 10px 1px 10px;
  margin: -15px 0 10px 0;
  list-style-type: none;
}
.news-sidebar__item {
  padding: 0 15px 10px 15px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 15px;
}
.news-sidebar__item:last-child {
  border-bottom: none;
  margin-bottom: 5px;
}
.news-sidebar__date {
  font-size: 11px;
  font-style: italic;
  margin: 0;
}
.news-sidebar__link {
  text-decoration: none;
  color: #3964ad;
}
.news-sidebar__link:hover {
  text-decoration: underline;
}
.news-sidebar__more-link {
  background: #e9301b;
  display: block;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  font-family: "PFSquareSansPro-Bold";
  text-align: center;
  font-size: 21px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.news-sidebar__more-link:hover {
  background: #cd2714;
}

/* текстовый блок со статьями и новостями */
.text-block__section {
  font-size: 13px;
  margin-right: 315px;
}
.text-block__section.no-right-sidebar {
  margin-right: 0;
}
.text-block__section::after {
  clear: both;
  content: "";
  display: table;
}
.text-block__section p {
  margin: 0 0 15px 0;
}
.text-block__section ul {
  list-style-type: none;
}
.text-block__section ol li {
  margin-bottom: 10px;
}
.text-block__section ul li {
  margin-bottom: 10px;
  position: relative;
}
.text-block__section ul li:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -15px;
  width: 6px;
  height: 6px;
  background: #3a63ac;
  border-radius: 50%;
}
.text-block__date {
  color: #fff;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  padding: 3px 10px;
  background: #3964ad;
}
.text-block__main-img {
  display: block;
  margin: 0 0 40px 0;
}
.text-block__title {
  font-size: 30px;
  line-height: 32px;
  color: #3964ad;
  margin: 0 0 30px 0;
  font-weight: normal;
}

.footer {
  margin-left: 240px;
  clear: both;
  position: relative;
  z-index: 2;
}
.footer__info-block {
  background: #3a63ac;
  padding: 17px 25px 10px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer__statistic {
  float: right;
  margin-top: 10px;
}
.footer__text {
  font-size: 12px;
  color: #fff;
  margin: 0 0 4px 0;
}
.footer__text a {
  color: #fff;
}
.footer__text a:hover {
  text-decoration: none;
}
.footer__copyright {
  background: #1c4093;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 25px;
  line-height: 41px;
}
.footer__copyright p {
  margin: 0;
}

@media (max-width: 1140px) {
  .statistics__text-block, .statistics__info-block {
    width: 48%;
  }
  .statistics__text-block {
    width: 51%;
  }

  .ui-widget-content {
    padding: 32px 38px 13px 38px;
  }

  #datepicker {
    width: 40%;
    max-width: none;
  }

  .date-event__item {
    width: 40%;
  }
  .date-event__section {
    margin-left: 8.4%;
  }

  .event__section {
    margin: 0 0 40px 12%;
  }
  .event__block {
    width: 47%;
    margin: 46px 1% 0 0;
  }
  .event__block:nth-child(3n) {
    margin-left: 0;
  }
}
@media (max-width: 1190px) and (min-widthL 1141px) {
  .news__item {
    margin: 0 0 40px 6.1%;
  }
}
@media (max-width: 1190px) {
  .news__item {
    width: 27%;
    margin: 0 0 40px 5.3%;
  }
  .news__banner {
    width: 29%;
  }
}

/*# sourceMappingURL=styles.css.map */
