@charset "UTF-8";
@font-face {
  font-family: "PFSquareSansPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Bold.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Bold.svg#PFSquareSansPro-Bold") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Light.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Light.svg#PFSquareSansPro-Light") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-MedItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-MedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-MedItalic.ttf") format("truetype"), url("../fonts/PFSquareSansPro-MedItalic.svg#PFSquareSansPro-MedItalic") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Medium.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Medium.svg#PFSquareSansPro-Medium") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Regular.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular") format("svg");
}
@font-face {
  font-family: "PFSquareSansPro-XBlack";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PFSquareSansPro-XBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-XBlack.ttf") format("truetype"), url("../fonts/PFSquareSansPro-XBlack.svg#PFSquareSansPro-XBlack") format("svg");
}
html {
  height: 100%;
}

body {
  font-family: "PFSquareSansPro-Regular", sans-serif;
  font-weight: normal;
  background: #e9e9e9;
  height: 100%;
  color: #000;
}

.main-wrapper {
  padding-top: 22px;
  position: relative;
}
.main-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38vw;
  background: #1c4093;
  height: 100%;
}

.container-fluid {
  min-width: 1000px;
  max-width: 1200px;
  position: relative;
  font-size: 14px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.list-inline {
  margin-left: 0;
}

label {
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: "PFSquareSansPro-Regular", sans-serif;
}

img {
  max-width: 100%;
}

a img {
  border: none;
}

button, input, textarea {
  outline: none;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: 0 0;
  border-radius: 0;
  color: #444;
  text-shadow: none;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-inner,
.fancybox-outer {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "PFSquareSansPro-Regular", sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-iframe,
.fancybox-image {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(../img/fancybox_sprite.png);
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: .8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../img/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: url(../img/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.75);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-title {
  visibility: hidden;
  font: 400 13px/20px "PFSquareSansPro-Regular", sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: 0 0;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #ffffff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../img/slider_arrow.png) no-repeat 0 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../img/slider_arrow.png) no-repeat 0 0;
}

.bx-wrapper .bx-prev:hover {
  opacity: 1;
}

.bx-wrapper .bx-next:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 31px;
  height: 31px;
  text-indent: -9999px;
  z-index: 9999;
  opacity: 0.8;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.header {
  float: left;
  width: 235px;
  z-index: 2;
  position: relative;
  padding-bottom: 100px;
}
.header__menu-wrap {
  /*меню хедера*/
  margin: 30px 0 37px 8px;
  padding: 0 17px;
  text-align: right;
}
.header__menu {
  padding: 0 0 24px 0;
  margin: 0;
  border-bottom: 1px solid #3964ad;
}
.header__menu-item {
  list-style-type: none;
  margin-bottom: 9px;
}
.header__menu-link {
  font-size: 18px;
  font-family: "PFSquareSansPro-Light";
  text-decoration: none;
  color: #fff;
}
.header__menu-link:hover {
  color: #5aade1;
}
.header__contacts {
  /* контакты в хедере */
}
.header__contacts-block {
  padding: 0 17px 0 34px;
}
.header__contacts-title {
  text-transform: uppercase;
  color: #5aade1;
  font-size: 18px;
  margin: 0 0 8px 0;
  position: relative;
  font-weight: normal;
}
.header__contacts-title:before {
  content: '';
  background: url(../img/contact_img.png) 0 0 no-repeat;
  position: absolute;
  top: -6px;
  left: -35px;
  width: 29px;
  height: 27px;
}
.header__item-title {
  color: #5aade1;
  font-size: 12px;
  margin: 0 0 3px 3px;
  text-transform: uppercase;
  line-height: 14px;
}
.header__item-text {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}
.header__social {
  /* соц сети в хедере */
}
.header__social-block {
  margin: 15px 0 0 3px;
}
.header__social-link {
  margin-right: 5px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.header__social-link:hover {
  opacity: 0.8;
}

.btn-up {
  border: none;
  display: inline-block;
  width: 27px;
  height: 30px;
  background: rgba(255, 255, 255, 0.68) url(../img/arrow_up.png) center no-repeat;
  border-radius: 50%;
  padding: 40px;
  position: fixed;
  z-index: 2;
  top: 50%;
  margin-left: 65px;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.btn-up:hover {
  background: white url(../img/arrow_up.png) center no-repeat;
}

/* тайтлы */
.title {
  font-size: 56px;
  font-family: "PFSquareSansPro-Bold";
  color: #3a63ac;
  text-transform: uppercase;
}
.title._color-white {
  color: #fff;
}

.subtitle {
  font-size: 27px;
  position: relative;
  font-family: "PFSquareSansPro-XBlack";
  display: inline-block;
  top: -18px;
  margin: 0;
  text-transform: uppercase;
}
.subtitle-wrap {
  border-top: 1px solid;
  border-color: #bfbfbf;
  margin-top: 30px;
}
.subtitle-wrap._position-center {
  text-align: center;
}
.subtitle-wrap._position-center .subtitle {
  padding: 0 25px;
}
.subtitle-wrap._position-left .subtitle {
  padding: 0 25px 0 0;
}
.subtitle-wrap._color-blue .subtitle {
  color: #3a63ac;
  background: #fff;
}
.subtitle-wrap._color-white {
  border-color: #fff;
}
.subtitle-wrap._color-white .subtitle {
  color: #fff;
  background: #3a63ac;
}

.content {
  margin-left: 240px;
}
.content-inner {
  padding: 32px 25px 25px 25px;
  background: #fff;
  margin-bottom: 10px;
}

/* блок справа от слайдера */
.main-photo__block {
  display: inline-block;
  width: 26.4%;
}
.main-photo__inner {
  max-width: 239px;
  position: relative;
  margin-bottom: -1px;
}
.main-photo__preview-text {
  color: #fff;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 3px;
  left: 0;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.55);
}

/* слайдер */
.slider {
  max-width: 667px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 73%;
}
.slider__block {
  margin: 0;
}
.slider__preview-text-block {
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider__preview-title {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.slider__preview-text {
  font-size: 12px;
  margin: 0;
}

.statistics__block {
  margin-bottom: 37px;
}
.statistics__text-block, .statistics__info-block {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
.statistics__info-block {
  width: 59%;
}
.statistics__info-list {
  padding: 0;
  margin: 0;
  text-align: center;
}
.statistics__title {
  margin: 0px -14px 9px 41px;
  letter-spacing: 3px;
  line-height: 56px;
}
.statistics__text {
  text-transform: uppercase;
  color: #1d1d1b;
  font-size: 25px;
  margin: 0 0 0 40px;
}
.statistics__info-item {
  display: inline-block;
  vertical-align: top;
  width: 26%;
  margin: 0 1%;
}
.statistics__info-number {
  color: #e9301b;
  font-size: 40px;
  margin: 0;
  font-family: "PFSquareSansPro-Bold";
}
.statistics__info-text {
  text-transform: uppercase;
  font-family: "PFSquareSansPro-Bold";
  font-size: 13px;
  margin: 0;
}

.about-main__section {
  position: relative;
}
.about-main__text-block {
  color: #fff;
  display: inline-block;
  background: #5aade1;
  margin: 23px 0 0 -25px;
  padding: 25px 0 23px 40px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 68%;
  z-index: 2;
}
.about-main__text-block:before {
  content: '';
  height: 100%;
  width: 30px;
  background: url(../img/triangle.png) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -30px;
  z-index: 1;
}
.about-main__title {
  font-size: 20px;
  margin: 0 0 5px 0;
}
.about-main__text {
  font-size: 13px;
  margin: 0 0 7px 0;
  line-height: 16px;
}
.about-main__form-block {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 36%;
  margin: 0 -25px -25px 0;
  padding: 36px 45px 44px 57px;
  background: #1c4093 url(../img/form_logo.png) right 33px no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
}
.about-main__form-block:before {
  content: '';
  background: #1c4093;
  position: absolute;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  z-index: 0;
}
.about-main__form-block form {
  position: relative;
  max-width: 225px;
}
.about-main__label {
  color: #fff;
  display: block;
  font-size: 16px;
  font-family: "PFSquareSansPro-Light";
  margin: 0 0 2px 0;
}
.about-main__input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  font-size: 16px;
  background: #fff;
  border: none;
  margin: 0 0 10px 0;
}
.about-main__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 3px 0 21px 0;
  border-bottom: 1px dashed #fff;
}
.about-main__link:hover {
  border-bottom: 1px solid transparent;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 25px;
  background: #e9301b;
  border: none;
  text-align: center;
  text-decoration: none;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background: #ee6353;
}
.btn._font-size-21 {
  font-size: 21px;
}

#datepicker {
  float: left;
  margin: 0 2px 9px 3.5%;
  width: 32%;
  max-width: 280px;
}

/* блок мероприятий */
.event__section {
  margin-left: -3.6%;
}
.event__section::after {
  clear: both;
  content: "";
  display: table;
}
.event__item {
  width: 29.7%;
  margin-left: 3.3%;
  margin-bottom: 26px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.event__item:hover .event__info-block {
  opacity: 0;
  z-index: -1;
}
.event__info-block {
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 13px 13px 13px 28px;
  z-index: 1;
  background: #dfe3eb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.event__number {
  font-family: "PFSquareSansPro-Medium";
  color: #6d6d6d;
  margin: 0;
  font-size: 29px;
}
.event__month {
  display: block;
  font-size: 13px;
  margin: -9px 0 0 0;
}
.event__title {
  color: #3a63ac;
  font-family: "PFSquareSansPro-Medium";
  font-size: 15px;
  margin: 14px 0 0 0;
  max-height: 60px;
  overflow: hidden;
}
.event__bg-img {
  width: 100%;
  min-height: 135px;
  background-size: cover !important;
}

.banner__block {
  margin-bottom: 10px;
}

.footer {
  margin-left: 240px;
  clear: both;
  background: #1c4093;
  color: #fff;
  text-transform: uppercase;
  line-height: 41px;
  font-size: 11px;
}

@media (max-width: 1140px) {
  .statistics__text-block, .statistics__info-block {
    width: 48%;
  }
  .statistics__text-block {
    width: 51%;
  }
}

/*# sourceMappingURL=styles.css.map */
