.content {
	margin-left: 240px;
	&-inner {
		padding: 32px 25px;
		background: #fff;
		margin-bottom: 10px;
	}
}
/* блок справа от слайдера */
.main-photo {
	&__block {
		float: right;
		width: 26.4%;
	}
	&__inner {
		max-width: 240px;
		position: relative;
		margin-bottom: -1px;
	}
	&__preview-text {
		color: #fff;
		width: 100%;
		padding: 0 10px;
		margin: 0;
		@include ellipsis(100%);
		@include box-sizing(border-box);
		@include position(absolute, null null 3px 0);
		line-height: 30px;
		background: rgba(0, 0, 0, 0.55);
	}
}
/* слайдер */
.slider {
	max-width: 667px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 74%;
	&__block {
		margin: 0;
	}
}