@font-face {
    font-family: 'PFSquareSansPro-Bold';
    src: url('../fonts/PFSquareSansPro-Bold.eot');
    src: url('../fonts/PFSquareSansPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Bold.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Bold.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Bold.svg') format('svg');
}
@font-face {
    font-family: 'PFSquareSansPro-Light';
    src: url('../fonts/PFSquareSansPro-Light.eot');
    src: url('../fonts/PFSquareSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Light.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Light.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Light.svg') format('svg');
}
@font-face {
    font-family: 'PFSquareSansPro-MedItalic';
    src: url('../fonts/PFSquareSansPro-MedItalic.eot');
    src: url('../fonts/PFSquareSansPro-MedItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-MedItalic.woff') format('woff'),
         url('../fonts/PFSquareSansPro-MedItalic.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-MedItalic.svg') format('svg');
}
@font-face {
    font-family: 'PFSquareSansPro-Medium';
    src: url('../fonts/PFSquareSansPro-Medium.eot');
    src: url('../fonts/PFSquareSansPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Medium.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Medium.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Medium.svg') format('svg');
}
@font-face {
    font-family: 'PFSquareSansPro-Regular';
    src: url('../fonts/PFSquareSansPro-Regular.eot');
    src: url('../fonts/PFSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-Regular.woff') format('woff'),
         url('../fonts/PFSquareSansPro-Regular.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-Regular.svg') format('svg');
}
@font-face {
    font-family: 'PFSquareSansPro-XBlack';
    src: url('../fonts/PFSquareSansPro-XBlack.eot');
    src: url('../fonts/PFSquareSansPro-XBlack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFSquareSansPro-XBlack.woff') format('woff'),
         url('../fonts/PFSquareSansPro-XBlack.ttf') format('truetype'),
         url('../fonts/PFSquareSansPro-XBlack.svg') format('svg');
}
