@media (max-width: 1140px) {
	.statistics {
		&__text-block, 
		&__info-block {
			width: 48%;
		}
		&__text-block {
			width: 51%;
		}
	}
	.ui-widget-content {
		padding: 32px 38px 13px 38px;
	}
	#datepicker {
		width: 40%;
		max-width: none;
	}
	.event {
		&__item {
			width: 40%;
		}
		&__section {
			margin-left: 8.4%;
		}
	}
}