// ---------------------  Variables

$main_font: 'PFSquareSansPro-Regular', sans-serif;
$site_bg: #e9e9e9;
$main_color: #000;

// FONTS
$bold: 'PFSquareSansPro-Bold';
$light: 'PFSquareSansPro-Light';
$medit: 'PFSquareSansPro-MedItalic';
$med: 'PFSquareSansPro-Medium';
$xbold: 'PFSquareSansPro-XBlack';

// COLORS
$blue: #3a63ac;
$dark-blue: #1c4093;
$red: #e9301b;

html { height: 100%;}
body {
    font-family: $main_font;
    font-weight: normal;
    background: $site_bg;
    height: 100%;
    color: $main_color;
}
.main-wrapper { 
    padding-top: 22px;
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        @include position(absolute, 0 null null 0);
        width: 33vw;
        background: $dark-blue;
        height: 100%;
        z-index: -1;
    }
}

.container-fluid {
    min-width: 1000px;
    max-width: 1200px;
    position: relative;
    font-size: 14px;
    @include box-sizing(border-box);
}
.rubl {
    font-family: 'Rubl';
    display: inline-block;
}
.clearfix {
    @include clearfix;
}

label { font-weight: normal;}
img {max-width: 100%;}
a img {border: none;}
button, input, textarea {outline: none;}

//  extra classies
.full-width {width: 100%!important;}

.no-border {border: none!important;}

// spaces
.no-margin {margin: 0!important;}
.margin-40-0 {margin: 40px 0;}
.no-padding {padding: 0!important;}

// align
.text-center {text-align: center;}
.text-uppercase {text-transform: uppercase;}

// color
.bg-color-blue {background: $blue!important;}
.bg-color-dark-blue {background: $dark-blue!important;}
.bg-pattern-blue {background: url(../img/blue_bg.png) 0 0 no-repeat!important;}

.color-white {color: #fff!important;}
.color-light-blue {color: #5aade1!important;}

// floats
.pull-right {float: right;}
.pull-left {float: left;}

// fonts
.font-normal {font-weight: normal;font-family: $main_font;}

.clearfix {clear: both;}