extends _layout
block content
	.content-inner
		.about-main__section
			.about-main__text-block._about-page
				h1.statistics__title.title.no-margin.color-white.no-padding Клуб в цифрах
				p.statistics__text.no-margin.color-light-blue СТАТИСТИКА ЗА ФЕВРАЛЬ
				.statistics__info-block.full-width
					ul.statistics__info-list
						li.statistics__info-item
							img.statistics__info-img(src="img/invers_info_img_1.png", alt="")
							p.statistics__info-number.color-light-blue 5
							p.statistics__info-text мероприятий
						li.statistics__info-item
							img.statistics__info-img(src="img/invers_info_img_2.png", alt="")
							p.statistics__info-number.color-light-blue 12
							p.statistics__info-text новых членов
						li.statistics__info-item
							img.statistics__info-img(src="img/invers_info_img_3.png", alt="")
							p.statistics__info-number.color-light-blue 1450
							p.statistics__info-text участников клуба
			.about-main__form-block.absolute-top
				form(action="#" method="post")
					label.about-main__label Фамилия Имя Отчество
					input.about-main__input(type="text")
					label.about-main__label Телефон
					input.about-main__input.mask(type="text")
					label.about-main__label E-mail
					input.about-main__input(type="email")
					.text-center
						a.about-main__link.fancybox(href="#enter_club") Правила вступления
					button.btn.full-width._font-size-21(type="submit") Вступить в клуб
					// модальное окно вступления в клуб
					.modal#enter_club
						p.modal__title Правила вступления
						ol.modal__list
							li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
							li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
							li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
							li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
					// конец модального
		.about-main__detail-text-block
			img.pull-left(src="img/main-logo.png", alt="")
			p Московский Клуб Молодых Предпринимателей – это не молодежное движение, не общественная организация и не политическое объединение. Клуб Молодых Предпринимателей – это закрытое бизнес-сообщество молодых и успешных предпринимателей, основной целью которого является помощь в развитии существующего бизнеса Членов Клуба и создании новых бизнес - проектов.
			p Московский Клуб Молодых Предпринимателей создан в 2007 году и является самым крупным молодежным бизнес - сообществом г. Москвы,   на данный момент в Клубе состоит более 1300 молодых и успешных предпринимателей. 
			p Клуб организовал в Москве за 2013 год более 80 собственных мероприятий  – это тренинги, мастер-классы, круглые столы, бизнес-ужины, неформальные встречи, образовательные программы и т.д., а также выступил партнером или соорганизатором еще более чем в 150 мероприятий. На своей площадке Клуб объединяет ведущие Российские молодежные бизнес-сообщества, такие как Деловая Россия, ОПОРА России, ТПП РФ.
			p В марте 2013 года, мы провели Актив Клуба, на который пригласили 130 Членов Клуба, которые являются самыми успешными молодыми предпринимателями – годовой оборот компаний Актива Клуба составляет 0,5 млрд $, и насчитывает несколько тысяч рабочих мест.
			p Международный Клуб Молодых Предпринимателей-мы единственное молодежное бизнес-сообщество России, которое открыло отделения за рубежом для успешного развития Вашего бизнес. Мы объединяем русскоязычных молодых предпринимателей, которые живут и ведут свой бизнес заграницей, и при этом разделяют наши ценности и взгляды на правила ведения бизнеса. Наши отделения открыты: Украина, Беларусь, Эстония, Латвия, Армения и США.
			p Наша цель не популистические лозунги и PR, а реальные дела, поэтому Клуб является эффективным инструментом помощи и поддержки Членов Клуба.
			p Мы не похожи на других и не стремимся быть похожими, поэтому создавая новые проекты, мероприятия или услуги Клуба мы делаем их уникальными. Мы ценим свое время и время Членов Клуба, поэтому мы не рекламируем чужие тренинги/семинары, не занимаемся сетевым маркетингом, не зарабатываем на регистрации ИП/ООО, не продаем услуги сторонних коммерческих организаций.
			p.about-main__rule При запуске проекта или подготовке мероприятия мы придерживаемся правила –
				span "ИЛИ ДЕЛАТЬ ХОРОШО ИЛИ НЕ ДЕЛАТЬ ВОВСЕ!"
	.content-inner
		.subtitle-wrap._color-blue._position-center
			h2.subtitle членство в клубе
		.membership__block
			p Членом Клуба может стать не только молодой предприниматель, но и молодой политик, чиновник, общественный деятель или сотрудник силовых структур – главное, чтобы для него был полезен Клуб и он для Членов Клуба.
			p Все Члены Клуба должны соблюдать <strong>Правила Клуба</strong>, основные из них:
			ul.membership__list
				li.membership__list-item 
					img.membership__img(src="img/member_1.png", alt="")
					p Максимально возможно пользоваться услугами и товарами Компаний – Членов Клуба МП
				li.membership__list-item
					img.membership__img(src="img/member_2.png", alt="")
					p С уважением относиться к Клубу МП и его Членам, соблюдать принятые нормы и правила ведения бизнеса, развивать взаимопомощь и солидарность между Членами Клуба МП
				li.membership__list-item
					img.membership__img(src="img/member_3.png", alt="")
					p Делиться знаниями, информацией и опытом, наработанными связями и активами
			a.membership__link.fancybox(href="#rules") Все правила клуба
			// модальное окно правил клуба
			.modal#rules
				p.modal__title Все правила клуба
				ol.modal__list
					li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
					li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
					li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
					li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
					li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
			// конец модального
			p.membership__strong-text Ты решителен и целеустремлен, разделяешь наши принципы и готов соблюдать правила игры?<br>Тебе есть что сказать и что предложить?<br>Ты готов занимать активную позицию в Клубе?<br>Тогда этот Клуб для тебя!
	.content-inner
		.subtitle-wrap._color-blue._position-center
			h2.subtitle награды
		ul.rewards__list
			li.rewards__item
				a.fancybox(href="img/content/certificat_1.png" rel="rewards")
					img(src="img/content/certificat_1.png", alt="")
			li.rewards__item
				a.fancybox(href="img/content/certificat_2.png" rel="rewards")
					img(src="img/content/certificat_2.png", alt="")
			li.rewards__item
				a.fancybox(href="img/content/certificat_1.png" rel="rewards")
					img(src="img/content/certificat_1.png", alt="")
			li.rewards__item
				a.fancybox(href="img/content/certificat_2.png" rel="rewards")
					img(src="img/content/certificat_2.png", alt="")
			li.rewards__item
				a.fancybox(href="img/content/certificat_1.png" rel="rewards")
					img(src="img/content/certificat_1.png", alt="")
			li.rewards__item
				a.fancybox(href="img/content/certificat_2.png" rel="rewards")
					img(src="img/content/certificat_2.png", alt="")
	.content-inner.no-padding
		.about-main__large-form
			form(action="#" method="post")
				.about-main__input-block
					.about-main__input-full
						label.about-main__label Фамилия Имя Отчество
						input.about-main__input(type="text")
					.about-main__input-half
						label.about-main__label Телефон
						input.about-main__input.mask(type="text")
					.about-main__input-half.pull-right
						label.about-main__label E-mail
						input.about-main__input(type="email")
				.about-main__link-block
					a.about-main__link.fancybox(href="#enter_club") Правила вступления
				.about-main__sumbit-block
					button.btn.full-width._font-size-21(type="submit") Вступить<br>в клуб
	.content-inner
		.subtitle-wrap._color-blue._position-center
			h2.subtitle цели и задачи
		.task__block
			p Наша цель не популистические лозунги и PR, а реальные дела, поэтому Клуб является эффективным инструментом помощи и поддержки Членов Клуба.
			p Основная цель Клуба Молодых Предпринимателей – это помощь в развитии бизнеса Членов Клуба. Для этого решаются основные задачи:
			h3.task__title 
				img(src="img/task_1.png", alt="")
				| Предоставление инструментов, направленных на развитие бизнеса
			ul.task__list
				li.task__list-item установление прямых деловых контактов Членов Клуба между собой, способствующих развитию бизнеса и создание новых проектов;
				li.task__list-item создание закрытого информационного пространства с возможностью доступа только для Членов Клуба, которое обеспечивает полной и оперативной информацией о формах поддержки молодежного предпринимательства со всей необходимой документацией и дополнительной информацией;
				li.task__list-item продвижение  товаров и услуг Членов Клуба, а также содействие в выходе на региональные и международные рынки;
				li.task__list-item качественное выполнение индивидуальных информационных и бизнес -услуг и оказание практической помощи в реализации бизнес - проектов;
				li.task__list-item создание комфортной неформальной площадки для общения Членов Клуба (бизнес-ужины, спортивные мероприятия, деловые игры и др.);
				li.task__list-item организация и проведение обучающих тренингов в сфере предпринимательства;
				li.task__list-item создание новых проектов в рамках Клуба;
				li.task__list-item информационная поддержка Действительных Членов Клуба: ТВ, интернет-порталы и т.д.
			h3.task__title 
				img(src="img/task_2.png", alt="")
				| Налаживание контактов с органами исполнительной и законодательной власти, а также крупными бизнес – структурами
			ul.task__list
				li.task__list-item установление прямых контактов  с бизнесменами и представителями исполнительной власти и государственными органами;
				li.task__list-item продвижение проектов в области государственной поддержки;
				li.task__list-item обеспечение взаимодействия предпринимательских и инвестиционных структур с молодежными компаниями и проектными коллективами;
				li.task__list-item работа с обращениями и жалобами молодых предпринимателей и оказание помощи субъектам малого предпринимательства в решении проблем по различным аспектам ведения бизнеса.
			h3.task__title 
				img(src="img/task_3.png", alt="")
				| Расширение членской базы и открытие новых отделений
			ul.task__list
				li.task__list-item поиск и привлечение активных молодых предпринимателей;
				li.task__list-item открытие отделений Клуба в регионах РФ и других странах;
				li.task__list-item организация взаимодействия с другими бизнес-клубами и бизнес-сообществами России и Зарубежья;
				li.task__list-item предоставление Действительным Членам Клуба необходимых деловых контактов в нужных направлениях, используя дружеские и партнерские взаимоотношения, в том числе в иностранных государствах.
	.content-inner
		.subtitle-wrap._color-blue._position-center
			h2.subtitle контакты
		.contact__map
			<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=BdfC2WhYXyyCjlnslmCYxhnMxWDvvCMG&width=100%&height=100%&lang=ru_UA&sourceType=constructor"></script>
		.contact__block
			ul.contact__list
				li.contact__list-item
					p.contact__title 1. Центральный офис
					p.contact__text г.Москва, ул.Павловская, 18, коворкинг «Lerner»
					p.contact__text <strong>Телефон/Факс:</strong> 646-86-22
					p.contact__text <strong>E-mail:</strong> info@mosmp.ru
				li.contact__list-item
					p.contact__title 2. Центральный дом предпринимателя
					p.contact__text 105062, г.Москва, Центральный дом предпринимателя, ул.Покровка, 47/24
				li.contact__list-item
					p.contact__title 3. ММДЦ «Москва Сити»
					p.contact__text г.Москва, Пресненская набережная, д. 8, стр. 1 башня «Город Столиц» (ММДЦ «Москва Сити»), 2 этаж, вход в помещение с вывеской «Нотариус. Тренинг центр»
			p.contact__text Если Вам интересны комментарии предпринимателей, экспертные мнения, интервью Вы можете связаться по данным вопросам с <span>Панченко Дарьей: 8 (916) 145-73-56, dasha@mosmp.ru</span>
		
