extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue Мероприятия
		br
		.subtitle-wrap._color-blue._position-center
			h2.subtitle._regular Ближайшие мероприятия
		.date-event__section
			#datepicker
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/article_img.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi incidunt quisquam at alias, ullam eaque sint vitae amet laborum eligendi.
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/article_img.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat aspernatur voluptates, minima nisi reprehenderit adipisci praesentium porro expedita nesciunt provident!
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/article_img.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolore dolorem perspiciatis soluta numquam impedit vero ullam, dicta exercitationem nisi?
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/right_photo1.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem excepturi, eum fugiat, ipsa architecto asperiores placeat distinctio delectus fuga. Laudantium!
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/right_photo.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eaque soluta maiores omnis odit dolore quos quo quidem dignissimos repudiandae.
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/article_img.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam optio, molestias laborum obcaecati suscipit! Quos ipsa impedit a cumque omnis?
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/right_photo.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora deserunt facere, cumque vero, modi similique quo mollitia consectetur velit facilis.
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/article_img.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
						p.date-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis porro, repellendus incidunt odit optio quam earum laudantium autem facere? Quas.
		br
		.subtitle-wrap._color-blue._position-center
			h2.subtitle._regular Ближайшие мероприятия
		.past-event__section
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 25
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo inventore nesciunt nisi sit quam dolores necessitatibus velit, facere repellendus voluptate porro dignissimos, dolorum hic natus quasi fugiat esse qui. Commodi, corporis dolore veniam consectetur quam, dicta laboriosam debitis repellat in maxime nobis, perferendis architecto recusandae reprehenderit! Vero excepturi officiis harum.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT
					p.past-event__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quo.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 25
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo inventore nesciunt nisi sit quam dolores necessitatibus velit, facere repellendus voluptate porro dignissimos, dolorum hic natus quasi fugiat esse qui. Commodi, corporis dolore veniam consectetur quam, dicta laboriosam debitis repellat in maxime nobis, perferendis architecto recusandae reprehenderit! Vero excepturi officiis harum.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT
					p.past-event__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quo.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 25
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo inventore nesciunt nisi sit quam dolores necessitatibus velit, facere repellendus voluptate porro dignissimos, dolorum hic natus quasi fugiat esse qui. Commodi, corporis dolore veniam consectetur quam, dicta laboriosam debitis repellat in maxime nobis, perferendis architecto recusandae reprehenderit! Vero excepturi officiis harum.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT
					p.past-event__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quo.
		br
		.text-center
			a.past-event__all-link(href="#") все прошедшие мероприятия
		.accordion__section
			.accordion__block
				a.accordion__title.active(href="#!") Business connect – быстрые деловые знакомства
				.accordion__text-block(style="display: block;")
					p Бизнес-курсы – это не просто полезный опыт. При динамично развивающейся рыночной экономике высокий уровень подготовки персонала является залогом успеха любого предприятия. Поэтому, чтобы расширить уже имеющиеся навыки и углубить свои знания, семинары, встречи бизнесменов и бизнес тренинги по различным направлениям просто необходимы. Курсы малого бизнеса в Москве позволяют в обстановке, близкой к дружеской, рассмотреть актуальные и волнующие многих вопросы. Результат – появление нацеленных только на высокие результаты сотрудников. Оказать им помощь сегодня – значит сделать шаг к процветанию завтра. Бесплатные курсы ведения малого бизнеса – это универсальный механизм повышения профессионального уровня.
					p Формат деятельности клуба предоставляет своим членам возможность посетить бесплатные бизнес курсы молодых предпринимателей и встречи бизнесменов. Цель – советы в решении финансовых, юридических и маркетинговых вопросов. Это самая настоящая мастерская молодёжного предпринимательства. В процессе содержательной беседы Вы освоите простые навыки решения возникающих проблем. К тому же это реальная возможность расширить круг деловых контактов. Бизнес курсы ведения и тренинги управления бизнесом помогают чётко осознать стратегию и направление, по которым нужно работать. Данные мероприятия нацелены на помощь в воплощении самых смелых проектов. Выбрав общие или специализированные бизнес курсы в Москве, Вы получите необходимую информацию для более эффективной деятельности.
			.accordion__block
				a.accordion__title(href="#!") Программы поддержки предпринимателей «Бизнес – это просто!»
				.accordion__text-block
					p Бизнес-курсы – это не просто полезный опыт. При динамично развивающейся рыночной экономике высокий уровень подготовки персонала является залогом успеха любого предприятия. Поэтому, чтобы расширить уже имеющиеся навыки и углубить свои знания, семинары, встречи бизнесменов и бизнес тренинги по различным направлениям просто необходимы. Курсы малого бизнеса в Москве позволяют в обстановке, близкой к дружеской, рассмотреть актуальные и волнующие многих вопросы. Результат – появление нацеленных только на высокие результаты сотрудников. Оказать им помощь сегодня – значит сделать шаг к процветанию завтра. Бесплатные курсы ведения малого бизнеса – это универсальный механизм повышения профессионального уровня.
					p Формат деятельности клуба предоставляет своим членам возможность посетить бесплатные бизнес курсы молодых предпринимателей и встречи бизнесменов. Цель – советы в решении финансовых, юридических и маркетинговых вопросов. Это самая настоящая мастерская молодёжного предпринимательства. В процессе содержательной беседы Вы освоите простые навыки решения возникающих проблем. К тому же это реальная возможность расширить круг деловых контактов. Бизнес курсы ведения и тренинги управления бизнесом помогают чётко осознать стратегию и направление, по которым нужно работать. Данные мероприятия нацелены на помощь в воплощении самых смелых проектов. Выбрав общие или специализированные бизнес курсы в Москве, Вы получите необходимую информацию для более эффективной деятельности.
			.accordion__block
				a.accordion__title(href="#!") Еженедельные консультации от компании "Эксити группа"
				.accordion__text-block
					p Бизнес-курсы – это не просто полезный опыт. При динамично развивающейся рыночной экономике высокий уровень подготовки персонала является залогом успеха любого предприятия. Поэтому, чтобы расширить уже имеющиеся навыки и углубить свои знания, семинары, встречи бизнесменов и бизнес тренинги по различным направлениям просто необходимы. Курсы малого бизнеса в Москве позволяют в обстановке, близкой к дружеской, рассмотреть актуальные и волнующие многих вопросы. Результат – появление нацеленных только на высокие результаты сотрудников. Оказать им помощь сегодня – значит сделать шаг к процветанию завтра. Бесплатные курсы ведения малого бизнеса – это универсальный механизм повышения профессионального уровня.
					p Формат деятельности клуба предоставляет своим членам возможность посетить бесплатные бизнес курсы молодых предпринимателей и встречи бизнесменов. Цель – советы в решении финансовых, юридических и маркетинговых вопросов. Это самая настоящая мастерская молодёжного предпринимательства. В процессе содержательной беседы Вы освоите простые навыки решения возникающих проблем. К тому же это реальная возможность расширить круг деловых контактов. Бизнес курсы ведения и тренинги управления бизнесом помогают чётко осознать стратегию и направление, по которым нужно работать. Данные мероприятия нацелены на помощь в воплощении самых смелых проектов. Выбрав общие или специализированные бизнес курсы в Москве, Вы получите необходимую информацию для более эффективной деятельности.
			.accordion__block
				a.accordion__title(href="#!") Бизнес ужины
				.accordion__text-block
					p Бизнес-курсы – это не просто полезный опыт. При динамично развивающейся рыночной экономике высокий уровень подготовки персонала является залогом успеха любого предприятия. Поэтому, чтобы расширить уже имеющиеся навыки и углубить свои знания, семинары, встречи бизнесменов и бизнес тренинги по различным направлениям просто необходимы. Курсы малого бизнеса в Москве позволяют в обстановке, близкой к дружеской, рассмотреть актуальные и волнующие многих вопросы. Результат – появление нацеленных только на высокие результаты сотрудников. Оказать им помощь сегодня – значит сделать шаг к процветанию завтра. Бесплатные курсы ведения малого бизнеса – это универсальный механизм повышения профессионального уровня.
					p Формат деятельности клуба предоставляет своим членам возможность посетить бесплатные бизнес курсы молодых предпринимателей и встречи бизнесменов. Цель – советы в решении финансовых, юридических и маркетинговых вопросов. Это самая настоящая мастерская молодёжного предпринимательства. В процессе содержательной беседы Вы освоите простые навыки решения возникающих проблем. К тому же это реальная возможность расширить круг деловых контактов. Бизнес курсы ведения и тренинги управления бизнесом помогают чётко осознать стратегию и направление, по которым нужно работать. Данные мероприятия нацелены на помощь в воплощении самых смелых проектов. Выбрав общие или специализированные бизнес курсы в Москве, Вы получите необходимую информацию для более эффективной деятельности.
			.accordion__block
				a.accordion__title(href="#!") Бизнес ужины
				.accordion__text-block
					p Бизнес-курсы – это не просто полезный опыт. При динамично развивающейся рыночной экономике высокий уровень подготовки персонала является залогом успеха любого предприятия. Поэтому, чтобы расширить уже имеющиеся навыки и углубить свои знания, семинары, встречи бизнесменов и бизнес тренинги по различным направлениям просто необходимы. Курсы малого бизнеса в Москве позволяют в обстановке, близкой к дружеской, рассмотреть актуальные и волнующие многих вопросы. Результат – появление нацеленных только на высокие результаты сотрудников. Оказать им помощь сегодня – значит сделать шаг к процветанию завтра. Бесплатные курсы ведения малого бизнеса – это универсальный механизм повышения профессионального уровня.
					p Формат деятельности клуба предоставляет своим членам возможность посетить бесплатные бизнес курсы молодых предпринимателей и встречи бизнесменов. Цель – советы в решении финансовых, юридических и маркетинговых вопросов. Это самая настоящая мастерская молодёжного предпринимательства. В процессе содержательной беседы Вы освоите простые навыки решения возникающих проблем. К тому же это реальная возможность расширить круг деловых контактов. Бизнес курсы ведения и тренинги управления бизнесом помогают чётко осознать стратегию и направление, по которым нужно работать. Данные мероприятия нацелены на помощь в воплощении самых смелых проектов. Выбрав общие или специализированные бизнес курсы в Москве, Вы получите необходимую информацию для более эффективной деятельности.