extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue Статьи
		.date-filter__block
			table.date-filter__table
				thead
					tr
						td.date-filter__item
							a.date-filter__link(href="#") 2008
						td.date-filter__item
							a.date-filter__link(href="#") 2009
						td.date-filter__item
							a.date-filter__link(href="#") 2010
						td.date-filter__item
							a.date-filter__link(href="#") 2011
						td.date-filter__item
							a.date-filter__link(href="#") 2012
						td.date-filter__item
							a.date-filter__link(href="#") 2013
						td.date-filter__item
							a.date-filter__link(href="#") 2014
						td.date-filter__item
							a.date-filter__link.active(href="#") 2015
				tbody
					tr
						td.date-filter__item
							a.date-filter__link.active(href="#") Январь
						td.date-filter__item
							a.date-filter__link(href="#") февраль
						td.date-filter__item
							a.date-filter__link(href="#") март
						td.date-filter__item
							a.date-filter__link(href="#") апрель
						td.date-filter__item
							a.date-filter__link(href="#") май
						td.date-filter__item
							a.date-filter__link(href="#") июнь
						td.date-filter__item
							a.date-filter__link(href="#") июль
						td.date-filter__item
							a.date-filter__link(href="#") август
						td.date-filter__item
							a.date-filter__link(href="#") сентябрь
						td.date-filter__item
							a.date-filter__link(href="#") октябрь
						td.date-filter__item
							a.date-filter__link(href="#") ноябрь
						td.date-filter__item
							a.date-filter__link(href="#") декабрь
		.news__list-wrap
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt modi molestiae, quibusdam dolor reprehenderit qui.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt modi molestiae, quibusdam dolor reprehenderit qui.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
		.pagination__block
			ul.pagination__list
				li.pagination__item
					a.pagination__link(href="#") 1
				li.pagination__item
					a.pagination__link(href="#") 2
				li.pagination__item
					span.pagination__link.active(href="#") 3
				li.pagination__item
					a.pagination__link(href="#") 4