extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue аналитика бизнеса
		br
		br
		.text-block__section.no-margin
			img.pull-right(src="img/content/analitics.jpg", alt="analitics" style="margin: 0 0 10px 20px;")
			p Для Действительных членов Московского Клуба Молодых Предпринимателей бесплатно предоставляются следующие программы: 
			h3.case__title 1. Swot-анализ бизнеса
			p SWOT-анализ позволяет определить причины эффективной или неэффективной работы компании на рынке, это сжатый анализ маркетинговой информации на основании которого делается вывод о том, в каком направлении организация должна развивать свой бизнес и в конечном итоге определяется распределение ресурсов по сегментам. Результатом анализа является разработка маркетинговой стратегии или гипотезы для дальнейшей проверки.
			p Также SWOT–анализ предполагает определение сильных и слабых сторон в деятельности фирмы, потенциальных внешних благоприятных возможностей и их оценку относительно стратегически важных конкурентов.
			p Консультации проводит компания «Эксити группа» - партнер Московского Клуба Молодых Предпринимателей
			h3.case__title 2. Консультация по формированию ключевых компетенций эффективного руководителя
			p Консультирование и коучинг по тематике: подбор персонала (компетенции сотрудников, определение формы ассессмента при подборе); мотивация и постановка задач сотрудникам ; контроль выполнения задач с сохранением «дружеских» отношений с сотрудником (как правильно контролировать сотрудников, «ругать» за невыполненные задачи и при этом не испортить отношения и не потерять авторитет); компетенции эффективного руководителя (какими компетенциями должен обладать руководитель, чтобы стать эффективным); делегирование и др. вопросы. 
			p Консультацию оказывает Вице-президент Московского Клуба Молодых Предпринимателей (бизнес-тренер, коуч, методолог), эксперт Компании «BUSINESS PARTNER» Ющенко Юлия.
			h3.case__title 3. Консультации по маркетингу
			p Данные консультации включают вопросы разработки системы корпоративной идентификации (нейминг, фирменный стиль и др.) презентации компании, новых товаров, услуг или проектов.
			h3.case__title 4. Консультация по вопросам участия в государственном заказе
			p Государственные закупки – это возможность в современных экономических условиях получить новых клиентов в лице надежного и стабильного Заказчика – Государство. Ежедневнопубликуется более 10000 извещений о проведении государственных и коммерческих тендеров в разных отраслях экономики.  
			p Что необходимо для участия в тендерах;  создание тендерного отдела;   как искать тендеры по вашему направлению и др. – все эти вопросы можно задать в рамках консультации.  
			p Консультацию проводят специалисты компании «ТЕНДЕРЛЕКС» - Действительный член Клуба Молодых Предпринимателей. 
			.text-block__center-title Для получения консультации необходимо:
			.text-block__bordered-block
				p Отправить заявку на 
					a(href="mailto:dasha@mosmp.ru") dasha@mosmp.ru
				p В теме письма указать название консультации,  в письме –  ФИО, название компании и должность, контактный телефон. 