extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue Кейсы
		.case__section
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam blanditiis quaerat iure expedita ducimus, cupiditate quos quae temporibus molestiae, aspernatur! Ad eaque adipisci, nisi animi iusto deserunt fugit voluptatum.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat laboriosam enim modi accusantium, non. Aliquam mollitia non eaque expedita, perferendis adipisci ullam? Harum molestias, excepturi, nemo quae doloribus laboriosam asperiores, temporibus beatae optio corporis delectus sed distinctio culpa. Illo qui magnam tempore sequi similique, esse architecto eum corrupti quos possimus!
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, enim.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tempora temporibus commodi magni, veniam velit iure dolores pariatur nam eum. Consequatur veniam, suscipit dignissimos laborum et quibusdam odit, harum mollitia.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam blanditiis quaerat iure expedita ducimus, cupiditate quos quae temporibus molestiae, aspernatur! Ad eaque adipisci, nisi animi iusto deserunt fugit voluptatum.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat laboriosam enim modi accusantium, non. Aliquam mollitia non eaque expedita, perferendis adipisci ullam? Harum molestias, excepturi, nemo quae doloribus laboriosam asperiores, temporibus beatae optio corporis delectus sed distinctio culpa. Illo qui magnam tempore sequi similique, esse architecto eum corrupti quos possimus!
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, enim.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tempora temporibus commodi magni, veniam velit iure dolores pariatur nam eum. Consequatur veniam, suscipit dignissimos laborum et quibusdam odit, harum mollitia.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam blanditiis quaerat iure expedita ducimus, cupiditate quos quae temporibus molestiae, aspernatur! Ad eaque adipisci, nisi animi iusto deserunt fugit voluptatum.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat laboriosam enim modi accusantium, non. Aliquam mollitia non eaque expedita, perferendis adipisci ullam? Harum molestias, excepturi, nemo quae doloribus laboriosam asperiores, temporibus beatae optio corporis delectus sed distinctio culpa. Illo qui magnam tempore sequi similique, esse architecto eum corrupti quos possimus!
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, enim.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tempora temporibus commodi magni, veniam velit iure dolores pariatur nam eum. Consequatur veniam, suscipit dignissimos laborum et quibusdam odit, harum mollitia.
		.pagination__block
			ul.pagination__list
				li.pagination__item
					a.pagination__link(href="#") 1
				li.pagination__item
					a.pagination__link(href="#") 2
				li.pagination__item
					span.pagination__link.active(href="#") 3
				li.pagination__item
					a.pagination__link(href="#") 4