extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue Галерея
		.subtitle-wrap._color-blue._position-center
			h2.subtitle 12 муждународный съезд кинематографов РФ
		.gallery__section
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")
			.gallery__block
				a.fancybox(href="img/content/gallery.jpg" rel="img")
					img(src="img/content/gallery.jpg", alt="")