extends _layout
block content
	.content-inner
		.slider
			ul.slider__block
				li.slider__item
					a(href="#")
						img.slider__img(src="/img/content/slider.jpg", alt="")
						.slider__preview-text-block
							p.slider__preview-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, excepturi.
							p.slider__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor maiores sapiente corrupti, libero laudantium repellendus tenetur corporis animi dicta temporibus dolorum aliquam blanditiis hic. Ab hic at architecto sit.
				li.slider__item
					a(href="#")
						img.slider__img(src="/img/content/slider.jpg", alt="")
						.slider__preview-text-block
							p.slider__preview-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem numquam sit inventore aut possimus non sequi aperiam, adipisci assumenda cum.
							p.slider__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio cupiditate dolorem nobis nesciunt. Consequuntur ipsum minus rerum omnis exercitationem, recusandae laboriosam hic accusantium, quis porro soluta placeat sit itaque reiciendis!
		.main-photo__block
			.main-photo__inner
				a(href="#")
					img(src="img/content/right_photo.jpg", alt="")
					p.main-photo__preview-text Lorem ipsum dolor sit amet. Lorem ipsum dolor.
			.main-photo__inner
				a(href="#")
					img(src="img/content/right_photo1.jpg", alt="")
					p.main-photo__preview-text Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
		.statistics__block
			.statistics__text-block
				h1.statistics__title.title клуб<br>в цифрах
				p.statistics__text статистика за февраль
			.statistics__info-block
				ul.statistics__info-list
					li.statistics__info-item
						img.statistics__info-img(src="img/info_img1.png", alt="")
						p.statistics__info-number 5
						p.statistics__info-text мероприятий
					li.statistics__info-item
						img.statistics__info-img(src="img/info_img2.png", alt="")
						p.statistics__info-number 12
						p.statistics__info-text новых членов
					li.statistics__info-item
						img.statistics__info-img(src="img/info_img3.png", alt="")
						p.statistics__info-number 1450
						p.statistics__info-text участников клуба
		.about-main__section
			.about-main__text-block
				h3.about-main__title О КЛУБЕ
				p.about-main__text Московский Клуб Молодых Предпринимателей – это не молодежное движение, не общественная организация и не политическое объединение. Клуб Молодых Предпринимателей – это закрытое бизнес-сообщество молодых и успешных предпринимателей, основной целью которого является помощь в развитии существующего бизнеса Членов Клуба и создании новых бизнес - проектов. Московский Клуб Молодых Предпринимателей создан в 2007 году и является самым крупным молодежным бизнес - сообществом г. Москвы,   на данный момент в Клубе состоит более 1300 молодых и успешных предпринимателей. 
				p.about-main__text Клуб организовал в Москве за 2013 год более 80 собственных мероприятий  – это тренинги, мастер-классы, круглые столы, бизнес-ужины, неформальные встречи, образовательные программы и т.д., а также выступил партнером или соорганизатором еще более чем в 150 мероприятий. На своей площадке Клуб объединяет ведущие Российские молодежные бизнес-сообщества, такие как Деловая Россия, ОПОРА России, В марте 2013 года, мы провели Актив Клуба, на который пригласили 130 Членов Клуба, которые являются самыми успешными молодыми предпринимателями – годовой оборот компаний Актива Клуба составляет 0,5 млрд $, и насчитывает несколько тысяч рабочих мест.
			.about-main__form-block
				form(action="#" method="post")
					label.about-main__label Фамилия Имя Отчество
					input.about-main__input(type="text")
					label.about-main__label Телефон
					input.about-main__input.mask(type="text")
					label.about-main__label E-mail
					input.about-main__input(type="email")
					.text-center
						// модальное окно вступления в клуб
						.modal#enter_club
							p.modal__title Правила вступления
							ol.modal__list
								li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
								li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
								li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
								li.modal__list-item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aspernatur natus, iusto excepturi ipsam! Aut modi nesciunt nostrum porro voluptate reprehenderit similique magnam consectetur, labore non ex molestiae numquam tempora odit, velit distinctio id soluta autem, incidunt! Aspernatur, dignissimos ullam sapiente ratione, numquam consectetur doloribus! Accusamus molestiae enim, sapiente in!
						// конец модального
						a.about-main__link.fancybox(href="#enter_club") Правила вступления
					button.btn.full-width._font-size-21(type="submit") Вступить в клуб
	.content-inner
		.subtitle-wrap._color-blue._position-center
			h2.subtitle Мероприятия клуба
		.date-event__section
			#datepicker
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/event_bg.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/event_bg.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/event_bg.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/right_photo1.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/right_photo.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/event_bg.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/right_photo.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
			.date-event__item
				a(href="#")
					.date-event__bg-img(style="background: url(../img/content/event_bg.jpg) 0 0 no-repeat")
					.date-event__info-block
						p.date-event__number 29
							span.date-event__month Июня
						p.date-event__title Бизнес-тренинг “Эффективное управление переговорами
	.banner__block
		a(href="#")
			img(src="img/content/large_banner.jpg", alt="")
	.content-inner
		.news__banner
			a(href="#")
				img.news__banner-img(src="img/content/banner.jpg", alt="")
		.subtitle-wrap._color-blue._position-left
			h2.subtitle Новости клуба
		.news__list-wrap
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt modi molestiae, quibusdam dolor reprehenderit qui.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt modi molestiae, quibusdam dolor reprehenderit qui.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.  Lorem ipsum dolor sit amet.
			.news__item
				a(href="#")
					img.news__img(src="img/content/news_img.jpg", alt="")
				p.news__date 21.04.2014
				a.news__title-link(href="#")
					h2.news__title Предпринимателям предложили тест-драйв мощного бизнес-кара
				p.news__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, consequatur.
	.content-inner.bg-color-blue
		.subtitle-wrap._color-white._position-center
			h2.subtitle Наши проекты/мероприятия
		.event__section
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Сервисная<br>компания
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Индивидуальное<br>продвижение проектов
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Workshop
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Business<br>Connect
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Политические и<br>общественные проекты
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Неформальные<br>мероприятия
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Бизнес<br>ужины
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Спец.программы по<br>аналитике бизнеса
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Бизнес десант
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Мозговые<br>штурмы
			.event__block
				a.event__link(href="#")
					span.event__img
					p.event__text Деловой журнал<br>“Дайджест MOSMP”
	.content-inner
		.subtitle-wrap._color-blue._position-center
			h2.subtitle Кейсы
		.case__section
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magnam blanditiis quaerat iure expedita ducimus, cupiditate quos quae temporibus molestiae, aspernatur! Ad eaque adipisci, nisi animi iusto deserunt fugit voluptatum.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat laboriosam enim modi accusantium, non. Aliquam mollitia non eaque expedita, perferendis adipisci ullam? Harum molestias, excepturi, nemo quae doloribus laboriosam asperiores, temporibus beatae optio corporis delectus sed distinctio culpa. Illo qui magnam tempore sequi similique, esse architecto eum corrupti quos possimus!
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, enim.
			.case__block
				.case__wrap-img
					a(href="#")
						img.case__img(src="img/content/ava.jpg", alt="")
				.case__preview-text-block
					.case__rating
					a.case__link(href="#") Donec congue, erat nec euismod luctus,
					p.case__preview-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tempora temporibus commodi magni, veniam velit iure dolores pariatur nam eum. Consequatur veniam, suscipit dignissimos laborum et quibusdam odit, harum mollitia.
			.text-center
				a.btn._font-size-28(href="#") Остальные кейсы