extends _layout
block content
	.content-inner
		.main-photo__block
			.main-photo__inner
				a(href="#")
					img(src="img/content/right_photo.jpg", alt="")
					p.main-photo__preview-text Lorem ipsum dolor sit amet. Lorem ipsum dolor.
			.main-photo__inner
				a(href="#")
					img(src="img/content/right_photo1.jpg", alt="")
					p.main-photo__preview-text Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
		.slider
			ul.slider__block
				li.slider__item
					a(href="#")
						img.slider__img(src="/img/content/slider.jpg", alt="")
						.slider__preview-text-block
							p.slider__preview-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, excepturi.
							p.slider__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor maiores sapiente corrupti, libero laudantium repellendus tenetur corporis animi dicta temporibus dolorum aliquam blanditiis hic. Ab hic at architecto sit.
				li.slider__item
					a(href="#")
						img.slider__img(src="/img/content/slider.jpg", alt="")
						.slider__preview-text-block
							p.slider__preview-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem numquam sit inventore aut possimus non sequi aperiam, adipisci assumenda cum.
							p.slider__preview-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio cupiditate dolorem nobis nesciunt. Consequuntur ipsum minus rerum omnis exercitationem, recusandae laboriosam hic accusantium, quis porro soluta placeat sit itaque reiciendis!