extends _layout
block content
	.content-inner
		.subtitle-wrap._color-blue._position-center
			h1.subtitle Руководство клуба
		.leadership__section
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Порочкин Дмитрий Борисович
						ul.leadership__list
							li.leadership__list-item Президент Московского Клуба Молодых Предпринимателей 
							li.leadership__list-item Председатель Комитета по молодежному предпринимательству "Деловой России"  
							li.leadership__list-item Председатель Молодежного Совета при Департаменте науки, промышленной политики и предпринимательства города Москвы
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:porochkin@mosmp.ru") porochkin@mosmp.ru
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Пашков Александр Сергеевич
						ul.leadership__list
							li.leadership__list-item Вице-Президент Московского Клуба Молодых Предпринимателей 
							li.leadership__list-item Председатель Комитета по молодежному предпринимательству московского областного отделения "ОПОРА России" 
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:apscena@yandex.ru") apscena@yandex.ru
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Митин Артем Александрович
						ul.leadership__list
							li.leadership__list-item Вице-президент Московского Клуба Молодых Предпринимателей 
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:koordinator.ms@gmail.com") koordinator.ms@gmail.com
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Осадченко Андрей Александрович
						ul.leadership__list
							li.leadership__list-item Вице-президент Московского Клуба Молодых Предпринимателей 
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:a.a.osadchenko@gmail.com ") a.a.osadchenko@gmail.com 
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Ралько Василий Васильевич
						ul.leadership__list
							li.leadership__list-item Вице-Президент Московского Клуба Молодых Предпринимателей
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:ralko@sheraf.ru") ralko@sheraf.ru
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Свинин Александр Александрович
						ul.leadership__list
							li.leadership__list-item Член правления Общероссийсской общественной организации малого и среднего бизнеса «ОПОРА РОССИИ».
							li.leadership__list-item Руководитель Комитета по молодежному предпринимательству «ОПОРА РОССИИ». 
							li.leadership__list-item Генеральный директор рекрутинговой компании Smart Start.
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:asvinin@smartstart.ru") asvinin@smartstart.ru
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Ющенко Юлия Дмитриевна
						ul.leadership__list
							li.leadership__list-item Вице-президент Московского Клуба Молодых Предпринимателей
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:yushchenko@mosmp.ru") yushchenko@mosmp.ru
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Панченко Дарья Олеговна
						ul.leadership__list
							li.leadership__list-item Исполнительный директор Московского Клуба Молодых Предпринимателей 
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:dasha@mosmp.ru") dasha@mosmp.ru
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее
			.leadership__block
				.leadership__info-block
					img.leadership__img(src="img/content/boss.jpg", alt="")
					.leadership__description-block
						h3.leadership__title Топко Дарья Владимировна
						ul.leadership__list
							li.leadership__list-item Коммерческий директор Московского Клуба Молодых Предпринимателей 
				.leadership__contact-block
					.leadership__link-wrap
						a.leadership__contact-link._phone-img(href="tel:+71234567890") +7 123 456 78 90
					.leadership__link-wrap
						a.leadership__contact-link._email-img(href="mailto:darya@mosmp.ru") darya@mosmp.ru
					.leadership__link-wrap
						a.leadership__contact-link._blue-solid-link._menu-img(href="#") Подробнее