extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue Руководство
		.clearfix
			.leadership__person-wrap
				img.leadership__img(src="img/content/boss.jpg", alt="")
				p.leadership__person-title Дата рождения:
				p.leadership__person-date 27.02.1984г.
			.leadership__detail-description
				h3.leadership__title Порочкин Дмитрий Борисович
				div
					p.task__title
						img(src="img/lead_1.png", alt="")
						| Образование
					
					ul
						li <strong>2007-2011</strong> Всероссийская Академия Внешней Торговли, Международный коммерческий факультет, Квалификация "Экономист с углубленным знанием иностранного языка" 
						li <strong>2001-2007</strong> МГТУ им. Баумана, факультет Информатики и Управления, основное направление кафедры параллельное программирование, первая в кафедра в РФ преподающая данное направление программирования.  
						li Дополнительные курсы, тренинги повышение квалификации в разных дисциплинах.
				div
					p.task__title
						img(src="img/lead_2.png", alt="")
						| Опыт работы
					p В 2005 году организовал фирму ЗАО «Network Security Solutions» <span style="color:#f20;">www.n-s-s.ru</span>, в которой являюсь генеральным директором. Основными направлениями компании являются информационная безопасность, разработка программного обеспечения и реализация собственных web-проектов (icamera.ru, bannerme.ru и др.). 
					p Наша компания обладает рекомендательными письмами как от государственных структур, таких как Управление лицензирования, аттестации и аккредитации Федеральной службы по надзору в сфере образования и науки или Главное финансовое управление города Москвы, так и от частных финансовых структур. Компания обладает лицензиями ФСБ на распространение и техническое обслуживание шифровальных (криптографических) средств. На данный момент налаживается сеть распространения наших услуг в С.-Петербурге и Красноярске, Самаре и Иркутске. Компания принимала участие в нескольких международных выставках. 
					p На данный момент компания представляет из себя холдинг, в который входит более 5 фирм реализующих проекты в разных направлениях бизнеса. Наша компания динамично развивается и каждый день покоряет новые высоты. 
				div
					p.task__title
						img(src="img/lead_3.png", alt="")
						| Общественная деятельность
					ul
						li <strong>С 2010г.</strong> являюсь Заместителем Председателя Президиума Ассоциации молодых предпринимателей России <span style="color: #f20;">www.moldelo.ru</span>
						li <strong>С 2008г.</strong> являюсь Президентом Клуба молодых предпринимателей Москвы. <span style="color: #f20;">www.mosmp.ru</span>
						li <strong>С 2006г.</strong> являюсь председателем Комиссии по поддержке молодых предпринимателей при Московской Ассоциации Предпринимателей. <span style="color: #f20;">www.rusbusiness.org</span>
						li <strong>С 2007г.</strong> являюсь членом Молодежного совета при Департаменте поддержки и развитии малого предпринимательства г. Москвы.
						li <strong>С 2007г. по 2009г.</strong> являлся членом Комиссии по экспертизе проектов в сфере молодежного предпринимательства. www.dmpmos.ru
						li <strong>С 2007г. по 2008г.</strong> являлся Заместителем генерального директора «Международного центра социально-гуманитарных программ», а так же Руководителем Молодежных мобильных групп в рамках международного молодежного фестиваля «Развитие».  <span style="color: #f20;">www.mcsgp.ru</span>
						li <strong>С декабря 2012 года</strong> - Председатель Комитета по молодежному предпринимательству "Деловой России"
						li <strong>С июля 2013 года</strong> - Председатель Молодежного Совета при Департаменте науки, промышленной политики и предпринимательства города Москвы
				div
					p.task__title
						img(src="img/lead_4.png", alt="")
						| Награды, личные достижения и прочее
					ul
						li Обладатель общественной награды "Лучший управленец России 2010г."
						li Участник конкурса «Молодые предприниматели Европы 2009», вошел в 26 лучших молодых предпринимателей Европы по мнению компании Эрнст энд Янг
						li Победитель конкурса «Предприниматель года 2008г.» в номинации «Достижения молодых» по мнению компании Эрнст энд Янг
						li Участник конкурса Молодые таланты Москвы 2007 в номинации бизнес, 
						li Участник конкурса Виктория 2006, в номинации бизнес
						li Кандидат в мастера спорта по водному поло
						li Компании, которыми я руковожу, неоднократно занимали призовые места в различных конкурсах и выставках.
				div
					p.task__title
						img(src="img/lead_5.png", alt="")
						| Хобби
					p Экстремальные виды спорта.