extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue неформальные встречи
		br
		br
		.closest-event
			.closest-event__block
				p.closest-event__title Ближайшее мероприятие
				p.closest-event__text Закрытая вечеринка
				br
				.closest-event__inner
					p.closest-event__strong-text когда:
					p.closest-event__text.text-uppercase 22 апреля
					p.closest-event__text с 19:00 до 22:00
				.closest-event__inner
					p.closest-event__strong-text где:
					p.closest-event__text.text-uppercase Клуб-ресторан «ArteFaq»
					p.closest-event__text г. Москва, ул. Большая Дмитровка, д.32, стр.1
		.text-block__section.no-margin
			p.blue-title Закрытые вечеринки
			p Неформальные встречи проходят в формате закрытых вечеринок. 
			p Закрытые вечеринки - это традиционные вечеринки с ограниченным количеством участников (30 человек) , которые проводятся 1 раз в месяц в Кутузовском бизнес-клубе! 
			p Закрытая вечеринка:
			ul
				li Позитивная и дружеская атмосфера
				li Множество ярких эмоций и впечатлений
				li Множество новых контактов и новых возможностей в сфере бизнеса
				li Мафия и другие азартные игры
			p А также:
			ul
				li Фуршет
				li Кальян
				li Нетворкинг
			p Расширяйте горизонты  своих возможностей и бизнеса  в знакомствах с новыми людьми в неформальной обстановке!
			p Закрытые вечеринки - это вечеринки для  успешных и интересных молодых предпринимателей!
		br
		.gallery__section
			- for (i = 1; i <= 3; ++i) {
				.gallery__block
					a.fancybox(href="img/content/gallery.jpg" rel="img")
						img.gallery__bg-img(src="img/content/gallery.jpg", alt="")
			- }
		.closest-event
			.closest-event__block
				p.closest-event__title Ближайшее мероприятие
				p.closest-event__text Пейнтбол
				br
				.closest-event__inner
					p.closest-event__strong-text когда:
					p.closest-event__text.text-uppercase 22 апреля
					p.closest-event__text с 19:00 до 22:00
				.closest-event__inner
					p.closest-event__strong-text где:
					p.closest-event__text.text-uppercase Клуб-ресторан «ArteFaq»
					p.closest-event__text г. Москва, ул. Большая Дмитровка, д.32, стр.1
		.text-block__section.no-margin
			p.blue-title Спортивные мероприятия
			p В здоровом теле - здоровый дух. Многие молодые предприниматели черпают силы для работы именно в спорте.
			p Мероприятия в Клубе бывают:
			strong 1. Еженедельный спорт.
			p На данный момент сформированы 2 группы.
			ul
				li Баскетбол
			p В 2009г. Клуб создал свою сборную команду молодых предпринимателей по баскетболу.
			p Каждый вторник с 22.00 до 23.30
			p Где:  м. Алексеевская, ул. Новоалексеевская д. 25, «Зебра» фитнес-клуб.
			ul
				li Пейнтбол
			p 1 раз в месяц 
			strong 2. События. 
			p Сюда входят большие игры по пейнтболу, картинг, прыжки с парашюта, багги, катание на самолетах\вертолетах и все что экстремально и интересно.
		.feedback
			.feedback__block
				p.feedback__author Павел Бочкин, Руководитель проектов по недвижимости и автобизнесу, капитан пейнтбольной команды Клуба
				p.feedback__text "Хочу провести аналогию между бизнесом и игрой в пейнтбол. Игра завораживает, тренирует, закаляет, ведь ты понимаешь, что победа зависит от каждого из нас! Не нужно бояться, что в тебя выстрелят! ДЕЙСТВУЙ САМ! НЕ ЖДИ! Именно страх мешает многим предпринимателям начать или развивать свой бизнес. Все навыки, которые вы приобретете в игре, помогут вам в бизнесе! Присоединяйтесь к нам!" 
			.feedback__block
				p.feedback__author Ильдар Богданов, Управляющий партнер,  "BI&R Consulting"
				p.feedback__text "Я регулярно присоединяюсь к своим братьям «по оружию» для игры в пейнтбол. Хочу сказать слова благодарности Клубу за проведение таких мероприятий. Здесь я встретил много новых друзей, у нас образовалась постоянная, активная и сильная команда. В мае мы примем участие в соревнованиях по пейнтболу и сразимся с другими командами. Уверен, у нас будет масса впечатлений, и мы займем победные места. Советую новым членам Клуба присоединяться к нам!" 
		.gallery__section
			- for (i = 1; i <= 6; ++i) {
				.gallery__block
					a.fancybox(href="img/content/gallery.jpg" rel="gallery")
						img.gallery__bg-img(src="img/content/gallery.jpg", alt="")
			- }