extends _layout
block content
	.main-event__block
		img(src="img/content/main_event_bg.png", alt="")
	.content-inner.bg-color-blue
		.main-event__about-speaker-block
			img.main-event__about-speaker-img(src="img/content/speaker.jpg", alt="")
			h3.main-event__about-speaker-title Руслан Татунашвили
			p.main-event__about-speaker-text Руслан Татунашвили, прошел путь от промоутера до руководителя офиса «Чкаловский» УРСА Банка в Новосибирске всего за один год. Тогда, в 2005 году, еще будучи студентом - третьекурсником, он с командой из 22-х сотрудников вырастил бизнес с оборотом до $8 млн и прибылью до $430 000 в месяц.<br><br>После его направили руководить представительством УРСА Банка в Республике Казахстан. Там, в 2007 году, помимо основной деятельности, совместно с партнером он открыл первый цех по производству мягких вафель «Первый Бисквитный». Партнеры намеревались создать монополию по производству и реализации мягких вафель в Казахстане с поставками в ближнее зарубежье, однако бизнес был продан местному игроку за $75 000.<br><br>После успешного экзита Татунашвили, уже в Новосибирске, совместно с известным бизнес-тренером Олегом Бруни запустил проект kupikaif.ru — компанию по продаже подарочных сертификатов на развлечения c более чем 4000 клиентов по всей России. А с 2012 года занимался лидогенерацией в рамках основанной с партнерами первой биржи лидов в России — AllLeads.ru.
	.content-inner
		.subtitle-wrap._color-black._position-center
			h2.subtitle._font-size-40 <strong>Like холдинг</strong><span class="font-normal"> – это:</span>
		.main-event__attainment-block
			img(src="img/content/event_img.png", alt="")
	.content-inner.bg-pattern-blue.no-padding
		img(src="img/content/you_know.png", alt="")
	.content-inner
		.subtitle-wrap._position-center._color-black
			h2.subtitle._font-size-40 партнеры
			.main-event__partner-block
				ul.main-event__partner-list
					li.main-event__partner-item
						img(src="img/content/p1.jpg", alt="")
					li.main-event__partner-item
						img(src="img/content/p2.jpg", alt="")
					li.main-event__partner-item
						img(src="img/content/p3.jpg", alt="")
					li.main-event__partner-item
						img(src="img/content/p4.jpg", alt="")
					li.main-event__partner-item
						img(src="img/content/p5.jpg", alt="")
	.content-inner.bg-color-blue
		.subtitle-wrap._position-center._color-white
			h2.subtitle._font-size-40 программа
		.main-event__programm-block
			img(src="img/programm.png", alt="")
	.content-inner
		.subtitle-wrap._position-center._color-black#contact_anchor
			h2.subtitle._font-size-40 контакты
		.main-event__contact-block
			.main-event__contact-item
				img.main-event__contact-img(src="img/cont_1.png", alt="")
				p.main-event__contact-title Панченко Дарья
				a.main-event__contact-text(href="tel:+79161457356") +7(916) 145 73 56
				a.main-event__contact-email(href="mailto:dasha@mosmp.ru") dasha@mosmp.ru 
			.main-event__contact-item
				img.main-event__contact-img(src="img/cont_2.png", alt="")
				p.main-event__contact-title Клуб-ресторан «ArteFaq»
				p.main-event__contact-text ул. Большая Дмитровка, д.32, стр.1
				p.main-event__contact-text (вход через арку)
		.main-event__map-wrapper
			script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
			script.
				$(function(){
					ymaps.ready(init);
					function init() {
					    var myMap = new ymaps.Map('map', {
					        center: [55.753994, 37.622093],
					        zoom: 14,
					        controls: []
					    });

					    ymaps.geocode('ул. Большая Дмитровка, д.32, стр.1', {
					        results: 1
					    }).then(function (res) {
					            // Выбираем первый результат геокодирования.
					            var firstGeoObject = res.geoObjects.get(0),
					                // Координаты геообъекта.
					                coords = firstGeoObject.geometry.getCoordinates(),
					                // Область видимости геообъекта.
					                bounds = firstGeoObject.properties.get('boundedBy');

					            // Добавляем первый найденный геообъект на карту.
					            myMap.geoObjects.add(firstGeoObject);
					            // Масштабируем карту на область видимости геообъекта.
					            myMap.setBounds(bounds, {
					                // Проверяем наличие тайлов на данном масштабе.
					                checkZoomRange: true
					            });
					        });
					        //- MapPlaces.behaviors.disable('scrollZoom');
					}
				});
			#map
	.content-inner
		.subtitle-wrap._position-center._color-red
			h2.subtitle._font-size-40 регистрация
		.main-event__registration-block
			p.main-event__registration-preview Для участия в бизнес-ужине с Аязом Шабутдиновым вам необходимо пройти регистрацию ниже. 
			table.main-event__registration-table
				thead
					tr
						td(colspan="2") Стоимость участия
				tbody
					tr
						td Для Действительных членов Клуба МП
						td Для гостей Клуба МП
				tfoot
					tr
						td 1 000 <span class="rubl">a</span>
						td 1 500 <span class="rubl">a</span>
			img(src="img/reg_img.png", alt="")
			p.main-event__registration-text Количество мест ограничено!
			a.btn._font-size-31._size-large.fancybox(href="#registration") Регистрация
			// форма регистрации
			.modal#registration
				form(action="#")
					input.modal__input(type="text" placeholder="Имя")
					input.modal__input(type="text" placeholder="Фамилия")
					input.modal__input(type="email" placeholder="E-mail")
					input.modal__input.mask(type="text" placeholder="Телефон")
					input.modal__input(type="text" placeholder="Компания")
					.text-center
						button.btn(type="submit") Зарегистрироваться