extends _layout
block content
	.content-inner
		h1.title._color-white.text-center._bg-blue Мероприятия
		br
		.subtitle-wrap._color-blue._position-center
			h2.subtitle._regular Прошедшие мероприятия
		.past-event__section
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 25
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo inventore nesciunt nisi sit quam dolores necessitatibus velit, facere repellendus voluptate porro dignissimos, dolorum hic natus quasi fugiat esse qui. Commodi, corporis dolore veniam consectetur quam, dicta laboriosam debitis repellat in maxime nobis, perferendis architecto recusandae reprehenderit! Vero excepturi officiis harum.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT
					p.past-event__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quo.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 25
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo inventore nesciunt nisi sit quam dolores necessitatibus velit, facere repellendus voluptate porro dignissimos, dolorum hic natus quasi fugiat esse qui. Commodi, corporis dolore veniam consectetur quam, dicta laboriosam debitis repellat in maxime nobis, perferendis architecto recusandae reprehenderit! Vero excepturi officiis harum.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT
					p.past-event__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quo.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 25
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Один день в неделю консультанты и коучи компании «Эксити группа» оказывают профессиональные консультации Действительным членам Клуба Молодых Предпринимателей по SWOT-анализу.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT-анализу для Действительных членов Клуба Молодых Предпринимателей
					p.past-event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo inventore nesciunt nisi sit quam dolores necessitatibus velit, facere repellendus voluptate porro dignissimos, dolorum hic natus quasi fugiat esse qui. Commodi, corporis dolore veniam consectetur quam, dicta laboriosam debitis repellat in maxime nobis, perferendis architecto recusandae reprehenderit! Vero excepturi officiis harum.
			.past-event__block
				.past-event__date 
					span.past-event__number 17
					span.past-event__month января
				.past-event__description
					a.past-event__link(href="#") Консультация по SWOT
					p.past-event__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quo.
		.pagination__block
			ul.pagination__list
				li.pagination__item
					a.pagination__link(href="#") 1
				li.pagination__item
					a.pagination__link(href="#") 2
				li.pagination__item
					span.pagination__link.active(href="#") 3
				li.pagination__item
					a.pagination__link(href="#") 4