- var menu = ["О Клубе", "Мероприятия", "Фото-видео", "Новости", "Статьи", "Партнеры", "Контакты"]
- var phone = "+7 (495) 646-86-22"
- var email = "info@mosmp.ru"
- var address = "103062 г. Москва, ул. Покровка, д. 47/24"